<div class="post-meta">
    {{- if not .Date.IsZero -}}
    <p class="post-meta-date">
        {{- .Date.Format (or site.Params.dateFormat.published "Jan 02, 2006") -}}
    </p>
    {{- end -}}

    {{ if or (.Params.tags) (.Params.categories) (.Params.series) (.Params.readtime) }}
    <p class="post-meta-read">
        {{- $readTime := cond (gt .ReadingTime 1) "-min-" "-min-" -}}
        {{- .ReadingTime -}}{{- $readTime -}}read
    </p>   
    {{- end -}}     

    {{- if .Params.categories -}}
    <p class="post-meta-label">
        {{- partial "helper/label-category" . -}}
    </p>
    {{- end -}}
</div>
