{{- $img := resources.Get .Params.cover -}}
{{- $colors := $img.Colors -}}
{{- if (lt ($colors | len) 2) -}}
	{{- $colors = $colors | append "#ffffff" -}}
{{- end -}}
{{- $bgcolors := delimit ($colors) ", " -}}
{{- $style := print "background: linear-gradient(" $bgcolors "); background-size: cover; background-repeat: no-repeat;" -}}
<div class="photo-container flex-center" style="{{ $style | safeCSS }}">
    {{- $large := $img.Resize "1500x Lanczos webp" -}}
    {{- $medium := $img.Resize "1200x Lanczos webp" -}}
    {{- $small := $img.Resize "800x Lanczos webp" -}}
    {{- $tiny := $img.Resize "600x Lanczos webp" -}}
        <img class="center" width="{{- $img.Width -}}" height="{{- $img.Height -}}"
            sizes="(min-width: 1380px) 750px, (min-width: 820px) 719px, (min-width: 740px) calc(-33.33vw + 875px), (min-width: 340px) calc(92.63vw - 39px), calc(100vw - 32px)"
            srcset='
            {{- if ge $img.Width "500" -}}
                {{- with $tiny.RelPermalink -}}{{.}} 500w{{- end -}}
                {{- end -}}
                {{- if ge $img.Width "800" -}}
                {{- with $small.RelPermalink -}}, {{.}} 800w{{- end -}}
                {{- end -}}
                {{- if ge $img.Width "1200" -}}
                {{- with $medium.RelPermalink -}}, {{.}} 1200w{{- end -}}
                {{- end -}}
                {{- if ge $img.Width "1600" -}}
                {{- with $large.RelPermalink -}}, {{.}} 1600w{{- end -}}
                {{- end -}}' src="{{- $img.RelPermalink -}}" alt="{{- .Params.title -}}">
</div>