@import "colors.scss";

.dark {
    @include darkchroma;
    --background: #{$background-dark2};
    --background-2: #{$background-dark2};
    --primary: #{$background};
    --secondary: #{$background-2};
    --primary-white: #{$background-dark};
    --secondary-white: #{$secondary};
    --accent: #{$background};
    --hover: #{$hover-dark};
    --table: #{$hover-dark};
    --highlight: #{$background-dark2};
    --shadow: #{$shadow};
    --line-shadow: #{$primary-white};
    --darken: #{$darken-dark};
}



body.dark .moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) .sun {
    display: none;
}

