%archive {
    text-decoration: none;
    color: $primary;
    padding: 1em;
}

.archive {
    @extend %archive;

    &-title {
        margin: 0;
    }

    &-year {
        box-shadow: 0 2px 2px -2px $shadow;
        padding: 0.25em;

        h2 {
            margin-bottom: 0;
        }
    }

    &-item {
        display: flex;
        margin: .75rem 0;

        &-date {
            margin: 0.5em 0.25em;

            span {
                background-color: $accent;
                color: $secondary-white;
                padding: 0.5em 0.6em;
                margin-right: 0.25em;

                &:hover {
                    transition: ease 0.3s;
                    background-color: $primary;
                    color: $white;
                }
            }
        }

        &-title {
            display: flex;
            align-items: center;
            text-decoration: none;

            h4 {
                margin: 0;
                color: $secondary;
            }

            &:hover {
                background-color: yellow;
                transition: 0.5s;
            }
        }
    }
}
