.cloud {

    &-tag,
    &-category {
        margin: 2rem 0;
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: .5rem;

        h5 {
            line-height: 0;
            margin: auto 1rem;
        }


        a {
            text-decoration: none;
            padding: .5rem;
            color: $tertiary;
            background-color: $background-3;
            border: $border;

            &:hover {
                color: $accent;
                transition: all ease-out 0.3s;
            }

            sup {
                padding: 0.1em 0.4em;
            }
        }
    }
}