footer {
  box-shadow: 2px 2px 2px 2px $shadow;
  margin-top: 3.5em;
  padding: 1em;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  clear: both;

  /*footer-upper*/
  .footer-upper {
    line-height: 1.25em;
    font-size: 1em;
    text-align: center;
    color: $first;

    &-left {
      margin: 0 auto;
      padding: 0.5em;

      .social-menu {
        width: 100%;

        .social-icons {
          margin: 0 0.5em;
          color: $third;
          text-decoration: none;

          svg {
            width: 25px;
            height: auto;
            color: $second;

            &:hover {
              color: $accent;
            }
          }
        }
      }
    }

    &-right {
      margin: 0 auto;
      padding: 0.5em;

      .quote {
        background-color: $shadow;
        padding: 0.125em;

        span {
          font-style: italic;
          font-weight: 600;
        }
      }
    }

  }

  /*footer-upper*/
  .footer-lower {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    text-align: center;
    color: $first;
    padding: 0.5em 0.25em;
    box-shadow: 2px 2px 2px 2px $shadow;

    .author {
      flex: 35%;
      margin: 0 auto;
      padding: 0.125em;

      a {
        color: $accent;

        &:hover {
          background-color: yellow;
        }
      }
    }

    .licensed {
      flex: 30%;
      margin: 0 auto;
      padding: 0.125em;


      a {
        color: $second;
        text-decoration: none;

        &:hover {
          color: $accent;
        }
      }
    }

    .powered {
      flex: 35%;
      margin: 0 auto;
      padding: 0.125em;


      a {
        color: $second;
        text-decoration: none;

        &:hover {
          color: $accent;
        }
      }
    }
  }
}


/* Responsive layout - makes a one column-layout instead of a 3-column layout */
@media (max-width: 48em) {
  .footer {
    .footer-lower {
      flex-direction: column;
    }
  }
}