/* menu icon */
.menu-icon {
    cursor: pointer;
    float: right;
    padding: 2rem 2rem;
    position: relative;
    user-select: none;

    .nav-icon {
        background: var(--secondary);
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
        align-items: baseline;

        &:before {
            background: var(--secondary);
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
            top: 5px;
        }

        &:after {
            background: var(--secondary);
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
            top: -5px;
        }
    }
}

/* menu btn */
.menu-btn {
    display: none;

    &:checked~.menu {
        max-height: 100%;
    }

    &:checked~.menu-icon .nav-icon {
        background: transparent;

        &:before {
            transform: rotate(-45deg);
            top: 0;
        }

        &:after {
            transform: rotate(45deg);
            top: 0;
        }
    }
}

.header {
    margin-bottom: 2em;
    width: 100%;
    box-shadow: 0 3px 3px -3px var(--secondary);

    &-inner {
        margin: 0 auto;
        width: 100%;
        max-width: 48em;

        .logo {
            display: block;
            padding: 1rem 2rem;
            float: left;


            img {
                display: block;
                max-width: 100%;
                margin: 0;
            }

            a {
                color: var(--accent);
                font-size: $xl;
                font-weight: $bolder;
                text-decoration: none;
                letter-spacing: -0.01em;
            }


            svg {
                display: inline-block;
                height: 30px;
            }
        }
    }
}

.menu {
    clear: both;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: max-height .2s ease-out;

    li {
        display: block;
        position: relative;

        a {
            display: block;
            padding: 1rem;
            text-decoration: none;
            color: var(--secondary);


        }
    }

    ul {
        position: absolute;
        padding: 0;
        left: 0;
        display: none;
        border-bottom: none;
        background: var(--primary-white);

        a {
            box-shadow: 0 2px 2px -2px var(--line-shadow);

        }
    }
}

@media (min-width: 48rem) {
    @include menuwide;

    .header {
        &-inner {
            display: flex;
            justify-content: space-between;

            &-left {
                display: flex;
                align-items: center;

                #darkmode {
                    margin-top: 10px;
                    margin-left: -15px;
                }
            }

            .menu-icon {
                display: none;
            }

            .menu {
                position: relative;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                visibility: visible;
                border: 0;
                transform: none;
                gap: .25rem;

                .submenu {
                    z-index: 101;

                    a {
                        min-width: 10rem;
                        border: $border;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 48rem) {
    @include menucheck;

    .header {
        &-inner {
            display: inline-block;

            &-left {
                display: inline-block;

                #darkmode {
                    display: inline-block;
                    margin-top: 22px;
                    margin-left: -15px;
                }
            }

            input:checked~.menu {
                display: block;
            }

            .menu {
                display: none;

                a {
                    box-sizing: border-box;
                    width: 100%;
                    display: block;
                    box-shadow: 0 2px 2px -2px var(--line-shadow);
                    flex-wrap: wrap;
                    padding-left: 3rem;
                }

                /* hides sublists on hover */
                li:hover ul {
                    display: none;
                }
            }

        }
    }
}