/* header */
.header {
    box-shadow: 0 2px 2px -2px $shadow;
    display: flex;
    margin-bottom: 2em;
    width: 100%;
    z-index: 3;

    &-inner {
        margin: 0 auto;
        width: 100%;
        max-width: 48em;

        &::before,
        &::after {
            box-sizing: inherit;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
        }

        li {

            a {
                padding: 1rem;
                display: block;
                text-decoration: none;
                color: $first;
                box-shadow: 0 2px 2px -2px $shadow;

            }

            a:hover {
                opacity: .8;
            }
        }

        .menu-btn:hover {
            opacity: .8;
        }

        .logo {
            display: block;
            padding: 1rem 2rem;
            float: left;
 

            img {
                display: block;
                max-width: 100%;
                margin: 0;
            }

            a {
                color: $accent;
                font-size: $xl;
                font-weight: $bolder;
                text-decoration: none;
                letter-spacing: -0.01em;
            }

            &:hover {
                opacity: .8;
            }

            svg {
                display: inline-block;
                height: 30px;
            }
        }
    }
}

/* menu */
.menu {
    clear: both;
    display: block;
    max-height: 0;
    transition: max-height .2s ease-out;

    li {
        max-height: fit-content;
        text-align: center;
    }
}

/* menu icon */
.menu-icon {
    cursor: pointer;
    float: right;
    padding: 2rem 2rem;
    position: relative;
    user-select: none;

    .nav-icon {
        background: $first;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
        align-items: baseline;

        &:before {
            background: $first;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
            top: 5px;
        }

        &:after {
            background: $first;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
            top: -5px;
        }
    }
}

/* menu btn */
.menu-btn {
    display: none;

    &:checked~.menu {
        max-height: 240px;
    }

    &:checked~.menu-icon .nav-icon {
        background: transparent;

        &:before {
            transform: rotate(-45deg);
            top: 0;
        }

        &:after {
            transform: rotate(45deg);
            top: 0;
        }
    }
}


/* for Desktop layout with min width 48em / 768 px */
@media (min-width: 48rem) {
    .header {
        max-height: 4rem;

        &-inner {
            display: flex;
            justify-content: space-between;

            .menu {
                display: flex;
                clear: none;
                align-items: center;
                max-height: none;
                font-weight: $normal;
            }

            .logo {
                display: flex;
                align-items: center;
            }

            .menu-icon {
                display: none;
            }

            li {
                float: left;

                a {
                    padding: 1rem;
                    box-shadow: none;

                }
            }
        }
    }
}