/* menu icon */
.menu-icon {
    cursor: pointer;
    float: right;
    padding: 2rem 2rem;
    position: relative;
    user-select: none;

    .nav-icon {
        background: $primary;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
        align-items: baseline;

        &:before {
            background: $primary;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
            top: 5px;
        }

        &:after {
            background: $primary;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
            top: -5px;
        }
    }
}

/* menu btn */
.menu-btn {
    display: none;

    &:checked~.menu {
        max-height: 100%;
    }

    &:checked~.menu-icon .nav-icon {
        background: transparent;

        &:before {
            transform: rotate(-45deg);
            top: 0;
        }

        &:after {
            transform: rotate(45deg);
            top: 0;
        }
    }
}

.header {
    box-shadow: 0 2px 2px -2px $shadow;
    margin-bottom: 2em;
    width: 100%;

    &-inner {
        margin: 0 auto;
        width: 100%;
        max-width: 48em;

        .logo {
            display: block;
            padding: 1rem 2rem;
            float: left;


            img {
                display: block;
                max-width: 100%;
                margin: 0;
            }

            a {
                color: $accent;
                font-size: $xl;
                font-weight: $bolder;
                text-decoration: none;
                letter-spacing: -0.01em;
            }

            &:hover {
                opacity: .8;
            }

            svg {
                display: inline-block;
                height: 30px;
            }
        }


    }
}

.menu {
    clear: both;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: max-height .2s ease-out;

    li {
        display: block;
        position: relative;

        a {
            padding: .5rem;
            display: block;
            text-decoration: none;
            color: $primary;

        }
    }

    ul {
        position: absolute;
        padding: 0;
        left: 0;
        display: none;
        border-bottom: none;
        background: $background;

        a {
            box-shadow: 0 2px 2px -2px $shadow;
            padding: .5rem;
        }
    }
}


    &:checked~.menu {
        max-height: 100%;
    }

@media (min-width: 48rem) {
    @include menuwide;

    .menu-item input[type="checkbox"] {
        display: none;
    }

    .menu li:hover ul {
        display: block;
    }


    .header {
        &-inner {
            display: flex;
            justify-content: space-between;

            .menu-icon {
                display: none;
            }

            .menu {
                position: relative;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                visibility: visible;
                border: 0;
                transform: none;
                gap: 1rem;

                .submenu {
                    z-index: 101;
                    margin-top: 7px;

                    a {
                        min-width: 10rem;
                        border: $border;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 48rem) {
    @include menucheck;

    .header {
        &-inner {
            display: inline-block;

            input:checked~.menu {
                display: block;
            }
        }


        .menu {
            display: none;

            a {
                box-sizing: border-box;
                width: 100%;
                display: block;
                padding: 1rem;
                box-shadow: 0 2px 2px -2px $shadow;

            }
        }
    }

    /* hides sublists on hover */
    .menu li:hover ul {
        display: none;
    }
}

