.helper {

    &-label {
        display: inline-flex;
        align-items: center;
        margin: 1rem;
        gap: 1rem;
        flex-wrap: wrap;
        padding: 1rem 0;

        &-tag {
            display: flex;
            align-items: center;
            color: var(--secondary);
            text-decoration: none;
            line-height: 0;
            flex-wrap: wrap;

            &:hover {
                color: var(--accent);
            }

            svg {
                height: 1rem;
                display: flex;
                align-items: center;
                width: auto;
                fill: var(--secondary);
                margin-right: .1rem;
            }
        }



        &-category {
            padding: 0rem 1rem;
            color: var(--secondary);
            border: $border;
            transition: transform 250ms;
            text-decoration: none;

            &:hover {
                background-color: var(--accent);
                color: var(--primary-white);
            }
        }
    }
}