.helper {

    &-label {
        display: inline-flex;
        align-items: center;
        margin: 1rem;
        gap: 1rem;
        flex-wrap: wrap;
        padding: 1rem 0;

        &-tag {
            display: flex;
            align-items: center;
            color: var(--secondary);
            text-decoration: none;
            line-height: 0;
            flex-wrap: wrap;

            &:hover {
                color: var(--accent);
            }

            svg {
                height: 1rem;
                display: flex;
                align-items: center;
                width: auto;
                fill: var(--secondary);
                margin-right: .1rem;
            }
        }



        &-category {
            padding: 0rem 1rem;
            color: var(--secondary);
            border: $border;
            transition: transform 250ms;
            text-decoration: none;

            &:hover {
                background-color: var(--accent);
                color: var(--primary-white);
            }
        }
    }


    &-pagination {
        padding: 1rem;
        margin: auto 2rem;
        display: flex;
        justify-content: space-around;
        

        &-older,
        &-newer {

            a {
                text-decoration: none;
                padding: 0.4em 0.5em;
                display: inline-block;
                position: relative;
                font-weight: 700;
                margin: 5px 10px;
                border: $border;
                color: var(--accent);


                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}