pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
}

code {
    background-color: #282b2e;
    color: #a9b7c6;
    font-size: 80%;
}

pre {
    margin: 0;
}

.highlight>* {
    border: 1px solid $background-2;
}

pre code {
    display: block;
    overflow-x: auto;
    padding: 0.5em 0.5em 1em 0.5em;
    tab-size: 4;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.hljs {
    padding: 1rem !important;
    display: relative;
}

.highlight {
    margin: 0.5rem 0;
    position: relative;
    overflow-x: auto;
}

.copy-code {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: $white;
    border: .5px solid $background-2;
    border-radius: 5px;
    padding: 0.3em 0.4em;
    user-select: none;
}

.code-name {
    display: inline-block;
    position: relative;
    padding: .6rem;
    background-color: $background;
    color: $secondary;
    font-size: 13px;
    font-weight: 400;
  }

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
    cursor: pointer;
}
