.index {
    padding: 1.5em;
    background-color: var(--primary-white);
    border: $border;
    margin-bottom: 2rem;

    sup {

        a {
            color: var(--primary);
        }
    }

    &-item {
        text-decoration: none;
        text-align: left;

        &-title {
            color: var(--primary);
            margin-bottom: 0.4em;
            font-weight: 800;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &-date {
        color: var(--secondary);
        margin: 0.25em 0;
    }

    &-summary,
    &-desc {
        color: var(--primary);
        margin-bottom: 0.3em;
        line-height: 1.4em;

        a {
            color: var(--secondary);
        }
    }

    &-summary {
        margin-top: 1rem;
    }

    &-link {
        margin: 2rem;
        text-align: right;
        margin-right: 1em;
        clear: both;

        &-read {
            padding: 0.25em 0.5em;
            @include hover-effect;
            box-shadow: $box;
            -moz-box-shadow: $box;
            -webkit-box-shadow: $box;
            text-decoration: none;
            text-align: center;
            color: var(--primary);

            &:hover {
                color: var(--secondary-white);
            }
        }
    }
}
