.index {
    padding: 1.5em;
    background-color: var(--primary-white);
    border: $border;
    margin-bottom: 2rem;

    sup {

        a {
            color: var(--primary);
        }
    }

    &-item {
        text-decoration: none;
        text-align: left;

        &-title {
            color: var(--primary);
            margin-bottom: 3rem;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &-summary,
    &-desc {
        color: var(--primary);
        margin-bottom: 1rem;
        line-height: 1.5;
        font-size: $r;

        a {
            color: var(--secondary);
        }
    }

    &-summary {
        margin-top: 1rem;
    }

    &-meta {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;

        &-date {
            color: var(--secondary);
            margin: 0.25em 0;
        }

        &-link {
            &-read {
                padding: 0.3em 0.5em;
                border: $border;
                text-decoration: none;
                text-align: center;
                color: var(--secondary);

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}