/* layout */
html {
    scroll-behavior: smooth;
    min-height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--background);
    color: var(--primary);
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    font-family: $serif;

}

#content {
    display: block;
    min-height: 70vh;
    max-width: 48rem;
    width: 95%;
    margin: 0 auto !important;
    word-wrap: break-word;
}