
.category-section {
    color: $white;
    text-align: center;
    padding: 1em;

    .category-section-title {
        text-decoration: underline;
    }
}

.tag-list,
.category-list {
    margin: 1em 0;
    text-align: center;

    a {
        text-decoration: none;
        color: $primary;
        background-color: $primary-white;
        padding: 0.4em;
        display: inline-block;
        position: relative;
        margin: 5px 10px;

        &:hover {
            color: $primary-white;
            background-color: $secondary;
            transition: all ease-out 0.3s;
        }

        sup {
            background-color: $accent;
            color: $primary-white;
            padding: 0.1em 0.4em;
            border-radius: 5em;
        }
    }
}

%list-template {
    text-decoration: none;
    color: $primary;
    padding: 1em;
}

.term-section {
    @extend %list-template;

    .term-title {
        margin: 0.5em auto 1em auto;

        a {
            color: $primary;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    .term-item {
        margin: 0.5em auto;

        a {
            text-decoration: none;
            color: $primary;

            &:hover {
                background-color: yellow;
            }
        }
    }
}