
.category-section {
    color: $white;
    text-align: center;
    padding: 1em;

    .category-section-title {
        text-decoration: underline;
    }
}


%list-template {
    text-decoration: none;
    color: $primary;
    padding: 1em;
}

.term-section {
    @extend %list-template;

    .term-title {
        margin: 0.5em auto 1em auto;

        a {
            color: $primary;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    .term-item {
        margin: 0.5em auto;

        a {
            text-decoration: none;
            color: $primary;

            &:hover {
                background-color: yellow;
            }
        }
    }
}