/* single & list post */
.post {
    background-color: $second-white;
    padding: 0.25em;
    box-shadow: 2px 2px 2px 2px $shadow;


    .category {
        display: inline-flex;
        margin: 1em;
        color: $second-white;
        background-color: $accent;
        padding: .3em .6em;
        font-size: 1em;
        text-decoration: none;

        &:hover {
            opacity: .8;
        }
    }

    .btag {
        display: inline-flex;
        color: $first;
        align-items: center;
        margin: 1em;
        text-decoration: none;

        .tag, p  {
            color: $second;
            text-decoration: none;
            margin-left: 0.25em;

            &:hover {
                opacity: .8;
            }
        }

    }
}

.post-header {
    padding: 1em;

    .post-title {
        color: $first;
        line-height: 1;
        text-align: center;
        padding: 0.5em;
        box-shadow: 0 3px 3px -3px $second;

    }
}


.post-meta {
    display: flex;
    justify-content: center;
    gap: 3em;
    flex-wrap: wrap;
    align-items: center;

    .post-date,
    .post-read {
        font-size: 1em;
        line-height: 0;
        color: $second;
    }
}

.post-content {
    padding: 2em 0.8em;

    a {
        color: $first;
        overflow-wrap: break-word;

        &:hover {
            background-color: yellow;
            transition: 0.5s;
        }
    }

    p {
        font-size: 1.125em;
        line-height: 1.5625em;
        color: $first;
    }


    li {
        font-size: 1.125em;
    }
}

.post-item {
    border-bottom: 1px solid $first-white;
    color: $first-white;
    display: block;
    padding: 2rem 0;
    text-decoration: none;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media(max-width:48em) {
        margin: 0;
    }

    .photo-item {
        padding: 2px;
        width: 70%;

        @media(max-width:48em) {
            width: 100%;
        }
    }
}

