/* single & list post */
.post {
    background-color: $primary-white;
    padding: 0.75rem;
    box-shadow: $box1;
    -webkit-box-shadow: $webkit1;
    -moz-box-shadow: $moz1;

    &-header {
        padding: 1em;

        &-title {
            color: $primary;
            line-height: 1;
            text-align: left;
            padding: .75rem;
            box-shadow: 0 3px 3px -3px $secondary;

        }
    }

    &-meta {
        display: flex;
        justify-content: start;
        gap: 3em;
        padding-left: 0.75rem;
        flex-wrap: wrap;

        &-date,
        &-read {
            line-height: 0;
            margin-top: 0.5rem;
            color: $secondary;
        }
    }

    &-content {
        padding: .5em 0.8em 2em 0.8em;

        a {
            color: $primary;
            overflow-wrap: break-word;

            &:hover {
                background-color: yellow;
                transition: 0.5s;
            }
        }

        p {
            color: $primary;

        }
    }

    &-item {
        border-bottom: 1px solid $primary-white;
        color: $primary-white;
        display: block;
        padding: 2rem 0;
        text-decoration: none;
    }
}

