.terms-section {
    &-title {
        padding: 0 1rem;
        margin-bottom: 2rem;
    }
}

%terms {
    text-decoration: none;
    color: var(--primary);
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.terms {
    @extend %terms;

    &-title {
        box-shadow: 0 2px 2px -2px var(--line-shadow);
        padding: 0.3rem 0.3rem 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;


        a {
            color: var(--primary);

            &:hover {
                color: var(--accent);
            }
        }
    }

    &-items {
        padding: 0.2em;
        margin-top: 0;

        &-title {
            color: var(--secondary);
            font-weight: 200;

            &:hover {
                color: var(--accent);
            }

        }
    }
}