%terms {
    text-decoration: none;
    color: var(--primary);
    padding: 1em;
}

.terms {
    @extend %terms;
    &-title {
        box-shadow: 0 2px 2px -2px var(--line-shadow);
        padding: 0.25em;

        a {
            color: var(--primary);
            margin-bottom: .75rem;

            &:hover {
                color: var(--accent);
            }
        }
    }

    &-items {
        padding: 0.25em;

        &-title {
            text-decoration: none;
            color: var(--secondary);

            &:hover {
                opacity: 0.8;
            }
        }
    }
}