.terms-section {
    &-title {
        padding: 0 1rem;
        margin-bottom: 2rem;
    }
}

%terms {
    text-decoration: none;
    color: var(--primary);
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.terms {
    @extend %terms;

    &-title {
        box-shadow: 0 2px 2px -2px var(--line-shadow);
        padding: 0.3rem 0.3rem 0.5rem;
        margin-top: 1rem;
        margin-bottom: .5rem;


        a {
            color: var(--primary);

            &:hover {
                color: var(--accent);
            }
        }
    }

    &-items {
        padding: 0.2em;

        &-title {
            text-decoration: none;

            h6 {
                margin: 0.3rem .5rem;
                line-height: 1.5;
                color: var(--secondary);

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: var(--secondary);
                }
            }
        }
    }
}