.table-of-contents {
    border: $border;
    padding: .75rem;
    margin: 0 0 2rem;
    background-color: var(--table);

    &-title {
        margin-left: .3rem;
    }

    ul {

        li {
            padding-left: .1rem;

            a:-webkit-any-link {
                text-decoration: none;
                color: var(--secondary);
                font-weight: $bold;

            }

            ul {
                list-style-type: disc;
                padding-left: 1rem;
            }
        }
    }

    &-title {
        font-weight: $bold;
        font-size: $r;
    }

    h3 {
        padding-left: 2rem;
    }
}