.table-of-contents {
    border: $border;
    padding: 1rem;
    margin: 1rem 0;
    background-color: var(--secondary-white);

    &-title {
        margin-left: .3rem;
        font-size: $m;
    }

    .toc {
        margin: 0;

        ul {
            line-height: 1.4rem;
            padding: 0 1rem;
            margin: .5rem;

            li {
                a {
                    color: var(--secondary);
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}