.table-of-contents {
    border: $border;
    padding: .75rem;
    margin: 2em 0;
    background-color: $background-3;

    &-title {
        margin-left: .3rem;
    }

    ul {

        li {
            padding-left: .1rem;
            
            a:-webkit-any-link {
                text-decoration: none;
                color: $tertiary;
            }

            ul {
                list-style-type: disc;
                padding-left: 2rem;

                a {
                margin: 0;
                }
            }
        }
    }

    &-title {
        font-weight: $bold;
        font-size: $r;
    }

    h3 {
        padding-left: 2rem;
    }
}