/* baseof */
h1 {
    font-size: 2em;
    font-weight: 700;
    color: var(--white-primary-color);
}

h2 {
    margin: .8em 0 1em;
    font-size: 1.5em;

}

h3 {
    color: var(--primary-color);
    font-size: 1.17em;
}

h4,
h5,
h6 {
    font-size: 1em;
    margin-top: 1.4em;
    margin-bottom: 0.8em;
}

h1 a,
h2 a,
h3 a {
    text-decoration: none;
}

strong,
b {
    font-weight: bolder;
}

em,
i {
    font-style: italic;
}

ul,
ol {
    margin: 0 0 24px 6px;
    padding-left: 16px;
}

li {
    color: var(--primary-color);


    ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    ol {
        margin-top: 0;
        margin-bottom: 0;
    }

    p {
        margin: 0.4em 0 0.6em;
    }
}

blockquote {
    position: relative;
    background-color: var(--white-color);
    margin: 0 0 1.64em 0;
    padding: .1em 1em .4em 20px;
    font-size: 1em;
    font-family: var(--primary-font);
    border-left: 7px solid var(--primary-color);

    h3, p {
        color: var(--primary-color);
    }
}

blockquote::before {
    position: absolute;
    top: 0;
    left: 20px;
    color: var(--grey-1);
    font: bold 48px/1 "Droid Serif", serif;
}

img {
    display: block;
    margin: 1em 0;
    max-width: 100%;
    height: auto;
}

embed, object, video {
    max-width: 100%;
}

code {
    font-size: .9em;
    background-color: var(--secondary-color);
    color: var(--primary-white-color);
    border-radius: .1em;

        span {
            margin-bottom: .1em;
        }
}

div.highlight,
pre {
    margin: 0;
    position: relative;
    font-size: 1em;
    overflow-x: auto;
    border-radius: .5em;
}

.highlight > * {
	padding: 0.7em;
}

.copy-code {
    display: none;
    position: absolute;
    top: 0;
    right: .1em;
    background: var(--secondary-white-color);
    border: 1px solid;
    border-radius: 5px;
    padding: 0.5em;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
    cursor: pointer;
}
  

*, *::before, *::after {
    box-sizing: border-box;
}