/* header */
.header {
    box-shadow: 0 2px 2px -2px var(--white-color);
    margin-bottom: 2em;
    display: flex;
    width: 100%;
    z-index: 3;

    &-inner {
        margin: 0 auto;
        width: 100%;
        max-width: 48em;

        &::before, &::after {
        box-sizing: inherit;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
        }

        li {

            a {
                padding: 1em;
                display: block;
                text-decoration: none;
                font-family: var(--secondary-font);
                font-weight: 600;
                color: var(--white-color);
            }

            a:hover {
                opacity: .8;
            }
        }

        .menu-btn:hover {
            opacity: .8;
        }

        .logo {
            display: block;
            float: left;

            a {
                color: var(--secondary-white-color);
                font-size: 1.4em;
                text-decoration: none;
                letter-spacing: -0.01em;
                font-family: var(--secondary-font);
                font-weight: bolder;
            }

            &:hover {
                opacity: .8;
            }

            svg {
                display: inline-block;
                margin: 10px;
                height: 30px;
            }
        }
    }
}

/* menu */
.menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;

    li {
        max-height: fit-content;
    }
}

/* menu icon */
.menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;

    .nav-icon {
        background: var(--white-color);
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
        align-items: baseline;

        &:before {
            background: var(--white-color);
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
            top: 5px;
        }

        &:after {
            background: var(--white-color);
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
            top: -5px;
        }
    }
}

/* menu btn */
.menu-btn {
    display: none;

    &:checked~.menu {
        max-height: 240px;
    }

    &:checked~.menu-icon .nav-icon {
        background: transparent;

        &:before {
            transform: rotate(-45deg);
            top: 0;
        }

        &:after {
            transform: rotate(45deg);
            top: 0;
        }
    }
}


/* 48em = 768px @ 16pt font */
@media (min-width: 48em) {
    .header {

        .menu {
            clear: none;
            float: right;
            max-height: none;
        }

        .menu-icon {
            display: none;
        }

        li {
            float: left;

            a {
                padding: 1em 1em;
            }
        }
    }
}