<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests; 
block-all-mixed-content;
default-src 'none';
child-src 'self';
font-src 'self';
form-action 'self';
frame-src 'self';
img-src 'self';
object-src 'none'; 
style-src 'self' 'unsafe-hashes' 'sha256-hd0UnMe2P/RTQ7vbbLaSGDvy10YOLGwUcwaRflqoEE8=' 'sha256-6oORC4JXGWe496A9MAatxJiGh9jYBM73HAbLr5g51lk=' 'sha256-jmTQT+dpo5GVD6oEduv0gXcAYoHtPpf8RXI2swhx9FA=' 'sha256-mphXy28Cik+EmLheYvpSj2uy1PF9LqZBo9wDi2UR/+k=' 'sha256-mphXy28Cik+EmLheYvpSj2uy1PF9LqZBo9wDi2UR/+k=' 'sha256-xFD+snk2Lt9Osh4AJ1fqvFMqdLYlaK//DTRooaAURLY=';
script-src 'self' 'unsafe-hashes' 'sha256-m6RfKfk8jg2RN2vKPVWwXjg20A70PaHLF2rHVUvMjc8=';
base-uri 'self';">