{{- if .IsHome -}}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "{{- site.Params.author -}}",
        "description": "{{- site.Params.description -}}]",
        "url": "{{- site.BaseURL -}}",
        "thumbnailUrl": "{{- site.Params.thumbnailUrl | absURL |safeHTML -}}"
    }
    </script>
{{- end -}}

{{- if .IsPage -}}
<script type="application/ld+json">
    	{
            "@context": "https://schema.org",
            "@type": "BlogPosting",
            "headline": {{- .Title -}},
            "image": {{- .Params.cover | absURL -}},
            "datePublished": {{- .PublishDate -}},
            "dateModified": {{- .Lastmod -}},
            "accountablePerson": {
              "@type": "Person",
              "name": "{{ site.Params.author }}",
              "url": "{{ .Site.BaseURL }}/about"
            },
            "author": {
              "@type": "Person",
              "name": "{{ site.Params.author }}",
              "url": "{{ .Site.BaseURL }}/about"
            },
            "creator": {
              "@type": "Person",
              "name": "{{ site.Params.author }}",
              "url": "{{ .Site.BaseURL }}/about"
            },
            "mainEntityOfPage": "True",
            "description": {{- .Summary | plainify | safeHTML -}},
            "keywords": [{{- range $i, $e := .Params.tags -}}{{- if $i -}}, {{- end -}}{{- $e -}}{{- end -}}]
          }
</script>
{{- end -}}
