{{- if .IsHome -}}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "{{- site.Params.author -}}",
        "description": "[{{- range $i, $e := .Params.categories -}}{{- if $i -}}, {{- end -}}{{- $e -}}{{- end -}}]",
        "url": "{{- site.BaseURL -}}",
        "thumbnailUrl": "{{- site.Params.thumbnailUrl | absURL |safeHTML -}}"
    }
    </script>
{{- end -}}

{{- if .IsPage -}}
<script type="application/ld+json">
    	{
            "@context": "https://schema.org",
            "@type": "BlogPosting",
            "headline": {{- .Title -}},
            "image": {{- .Params.cover | absURL -}},
            "datePublished": {{- .PublishDate -}},
            "dateModified": {{- .Lastmod -}},
            "author": {
              "@type": "Person",
              "name": {{- site.Author -}}
            },
            "mainEntityOfPage": { "@type": "WebPage" },
             "publisher": {
              "@type": "Organization",
              "name": {{- site.Params.header -}},
              "logo": {
                "@type": "ImageObject",
                "url": {{- site.Params.thumbnailUrl | absURL |safeHTML -}}
              }
            },
            "description": {{- .Summary | plainify | safeHTML -}},
            "keywords": [{{- range $i, $e := .Params.tags -}}{{- if $i -}}, {{- end -}}{{- $e -}}{{- end -}}]
          }
</script>
{{- end -}}
