{{- if .IsHome -}}
<script type="application/ld+json" nonce="yainz8od48">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{- site.Params.author -}}",
    "description": "{{- site.Params.description -}}",
    "url": "{{- site.BaseURL -}}",
    "thumbnailUrl": "{{- site.Params.thumbnailUrl | absURL |safeHTML -}}"
  }
</script>
{{- end -}}

{{- if and (.IsPage) (eq .Type "archives") -}}
    <script type="application/ld+json" nonce="yainz8od48">
    {
        "@context" : "http://schema.org",
        "@type" : "BlogPosting",
        "articleSection" : "{{ .Section }}",
        "name" : "{{ .Title | safeJS }}",
        "headline" : "{{ .Title | safeJS }}",
        "description" : "{{ with .Description }}{{ . | safeJS }}{{ else }}{{ with .Summary }}{{ . }}{{ end }}{{ end }}",
        "inLanguage" : "en-US",
        "author" : "{{ site.Params.author }}",
        "creator" : "{{ site.Params.author }}",
        "accountablePerson" : "{{ site.Params.author }}",
        "copyrightHolder" : "{{ site.Params.author }}",
        "copyrightYear" : "{{ .Date.Format "2006" }}",
        "datePublished" : "",
        "publisher": "{{ site.BaseURL }}",
        "logo": "{{ site.Params.favicon.default | absURL }}",
        "url" : "{{ .Permalink }}",
        "wordCount" : "{{ .WordCount }}",
        "image" : "{{ if .Params.cover }}{{- . | absURL -}}{{ else }}{{- site.Params.thumbnailUrl | absURL |safeHTML -}}{{- end -}}",
        "keywords" : [ "{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}" ]
    }
    </script>
{{- end -}}

<!-- Structured Data Page Schema - HIDDEN -->
<div id="schema" itemscope itemtype="http://schema.org/BlogPosting">
     <meta itemprop="mainEntityOfPage" content="{{ .Permalink }}" />
     <meta itemprop="inLanguage" content="en-US" />
     <h1 itemprop="headline">{{ .Title }}</h1>
     <meta itemprop="name" content="{{ .Title }}" />
     <meta itemprop="description" content="{{if .Params.summary }}{{ .Params.summary  }}{{ else }}{{ if .Description }}{{ .Description }}{{ end }}{{ end }}" />
     <meta itemprop="wordCount" content="{{ .WordCount }}" />
     <meta itemprop="keywords" content="{{ range $i,$e := .Params.tags }}{{ if $i }},{{ end }}{{ $e }}{{ end }}" />
     
     <meta itemprop="copyrightYear" content="{{ .Date.Format "2006" }}" />
    <div itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{ .Params.author }}">
    </div>
    
    {{ if .Params.cover }}
     <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
         <img  itemprop="url" src="{{- .Params.cover | absURL -}}" alt="thumbnail">
         <meta itemprop="width" content="220" >
         <meta itemprop="height" content="220" >
    </div>
    {{ else }}
    <!-- Default to site Logo -->
    <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
         <img  itemprop="url" src="{{- site.Params.thumbnailUrl | absURL |safeHTML -}}" alt="thumbnail">
         <meta itemprop="width" content="200" >
         <meta itemprop="height" content="200" >
    </div>
    {{ end }}
    <meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}">
    <meta itemprop="dateModified" content="{{ .Date.Format "2006-01-02" }}">
    <a itemprop="mainEntityOfPage" href="/archives"></a>
    <div itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{ .Params.author }}">
    </div>
    <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="{{ .Site.Params.organization }}">
      <a itemprop="url" href="/"> 
      <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject"  >
      <img itemprop="image" src="{{ site.Params.favicon.default | absURL }}" />
      <link itemprop="url" href="{{ site.Params.favicon.default | absURL }}" />
      </span>
      </a>
    </div>
</div>