{{ if .IsHome -}}
  {{ printf `<title> %s  | %s </title>` $.Site.Title .Site.Params.description | safeHTML }}
  {{- end -}}
{{- if not .IsHome -}}
{{ with .Title }}
{{ printf `<title> %s | %s </title>`  .   $.Site.Title | safeHTML }}
{{ end -}}
{{ end -}}

{{ with .Description -}}
  <meta name="description" content="{{ . }}">
{{ else -}}
  {{ with .Summary | plainify -}}
    <meta name="description" content="{{ . }}">
  {{ else -}}
    <meta name="description" content="{{ .Site.Params.description }}">
  {{ end -}}
{{ end -}}