@import "chroma.scss";

.dark {
    @include darkchroma;

    --black-primary: #{$white-secondary};
    --black-secondary: #{$white-primary};
    --white-primary: #{$dark-primary};
    --white-secondary: #{$dark-secondary};
    --grey-primary: #{$dark-secondary};
    --grey-secondary: #{$dark-secondary};
    --link: #{$dark-link};
    --accent: #{$white-primary};
    --hover: #{$hover-dark};
    --table: #{$hover-dark};
    --highlight: #{$black-secondary};
    --shadow: #{$shadow};
    --line-shadow: #{$white-primary};
    --darken: #{$darken-dark};
}

body.dark .moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) .sun {
    display: none;
}

