/* Colors */
:root {
    --background: #{$background};
    --background-2: #{$background-2};
    --primary: #{$primary};
    --secondary: #{$secondary};
    --primary-white: #{$primary-white};
    --secondary-white: #{$secondary-white};
    --accent: #{$accent};
    --hover: #{$hover};
    --table: #{$table};
    --highlight: #{$highlight};
    --shadow: #{$box-shadow};
    --line-shadow: #{$shadow};
}

@import "colors.scss";
@import "fonts.scss";
@import "mixins.scss";
