/* color */
$background: #9EB5A7;
$first: #00242E;
$second: #003645;
$third: #004659;
$terminal: #383838;
$first-white: #eff7f6;
$second-white: #f5faf8;
$accent: #763e03;
$white: #f9f9f9;
$shadow: rgba(0, 0, 0, .2);
$serif: adobe-garamond-pro, serif;

/* font-size */
$s: 1em;
$r: 1.125em;
$l: 1.2em;
$xl: 1.4em;
$xxl: 2em;

/* font-weight */
$reg: 500;
$bold: 600;
$bolder: 700;