@font-face {
    font-family: uthmanic;
    src: url(../font/uthmanic.otf);
    font-size: large;
    font-display: swap;
}

@font-face {
    font-family: et-book;
    src: url(../font/et-book-roman-old-style-figures.woff) format('woff'), url(../font/et-book-semi-bold-old-style-figures.svg) format ('svg'), url(../font/et-book-semi-bold-old-style-figures.woff) format('woff'), url(../font/et-book-roman-old-style-figures.svg) format ('svg'), url(../font/et-book-roman-old-style-figures.eot?iefix) format ('embedded-opentype'), url(../font/et-book-roman-old-style-figures.ttf) format ('truetype'), url(../font/et-book-semi-bold-old-style-figures.eot?iefix) format ('embedded-opentype'), url(../font/et-book-semi-bold-old-style-figures.ttf) format ('truetype');
    font-display: swap;
}

@font-face {
    font-display: swap;
    font-family: CCSymbols;
    src: url(../font/CCSymbols.woff) format(woff), url(../font/CCSymbols.woff2) format(woff2);
  }
  
/* color */
$background: #EDEDE6;
$first: #111;
$second: #2E2E2E;
$third: #575757;
$terminal: #3a4055;
$first-white: #fffff8;
$second-white: #E8E8E1;
$accent: #763e03;
$white: #f9f9f9;
$shadow: rgba(0, 0, 0, .2);
$serif: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$arabic: uthmanic, "Geeza Pro", "Nadeem", "Al Bayan", "DecoType Naskh", "DejaVu Serif", "STFangsong", "STHeiti", "STKaiti", "STSong", "AB AlBayan", "AB Geeza", "AB Kufi", "DecoType Naskh", "Aldhabi", "Andalus", "Sakkal Majalla", "Simplified Arabic", "Traditional Arabic", "Arabic Typesetting", "Urdu Typesetting", "Droid Naskh", "Droid Kufi", "Roboto", "Tahoma", "Times New Roman", "Arial", serif;
$cc: CCSymbols, Helvetica, Arial, sans-serif;

/* font-size */
$s: 1rem;
$r: 1.125rem;
$l: 1.4rem;
$xl: 1.7rem;
$xxl: 2rem;

/* font-weight */
$normal: 500;
$bold: 600;
$bolder: 700;

/*shadow for page & post*/
$box: 0 2px 2px 2px $first;
$webkit: 0 2px 2px 2px $first;
$moz: 0 2px 2px 2px $first;

$box1: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
$webkit1: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
$moz1: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);

$box2: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
$webkit2: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
$moz2: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);


/*hover-effect-1*/
@mixin hover-effect {
    background-image: linear-gradient($accent, $accent);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .4s;

    &:hover {
        background-size: 100% 100%;
    }
}

@mixin text-hover {
    --h: 2em;

    line-height: var(--h);
    color: $second;
    text-shadow:
        0 var(--_t,0em) $accent, 
        0 calc(var(--_t,0em) - var(--h)) $second;
    overflow: hidden;
    transition: .3s;

    &:hover {
        --_t: var(--h);
    }
}