.menu-icon {
  cursor: pointer;
  float: right;
  padding: 1rem;
  position: relative;
  user-select: none;
}

.darkmode {
  background: none;
  border: 0;
  color: var(--black-secondary);
  cursor: pointer;
}

%icon {
  background: var(--black-secondary);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: .2s ease-out;
  width: 100%;
}

.nav-icon {
  align-items: baseline;
  background: var(--black-secondary);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;

  &::before {
    @extend %icon;
    top: 5px;
  }

  &::after {
    @extend %icon;
    top: -5px;
  }
}

.menu-btn {
  display: none;

  &:checked~.menu {
    max-height: 100%;

    &-icon .nav-icon {
      background: transparent;
    }

    &-icon .nav-icon::before {
      top: 0;
      transform: rotate(-45deg);
    }

    &-icon .nav-icon::after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}

.header {
  box-shadow: 0 3px 3px -3px var(--black-secondary);
  height: 50px;
  margin-bottom: 2em;
  padding: .5rem;
  width: 100%;
  line-height: 0;
}

.nav {
  margin: 0 auto;
  max-width: 48em;
  width: 100%;

  .logo {
    display: block;
    float: left;
    padding: 1rem;

    img {
      display: block;
      margin: 0;
      max-width: 100%;
    }

    a {
      color: var(--accent);
      margin: 0;
      font-size: $l;
      font-weight: $bolder;
      text-decoration: none;
    }

    svg {
      display: inline-block;
      height: 30px
    }
  }
}

.menu {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    position: relative;

    a {
      color: var(--black-secondary);
      display: block;
      padding: 1rem;
      text-decoration: none;
    }
  }

  .submenu {
    background: var(--white-primary);
    border-bottom: 0;
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
  }
}

.menu-item-dropicon {
  font-size: $xs;
  position: absolute;
}


@mixin menucheck {
  .menu-item {
    input[type='checkbox'] {
      display: none
    }

    &-dropicon {
      right: 3rem;
      top: 1rem
    }

    input[type="checkbox"]:checked+.submenu {
      border: 0;
      display: block;
      flex-wrap: wrap;
      height: auto;
      max-width: 100%;
      opacity: 1;
      padding-left: 2rem;
      position: relative;
      visibility: visible;
    }
  }
}

@mixin menuwide {
  .menu-item {
    input[type="checkbox"] {
      display: none
    }

    &-dropicon {
      right: -.2rem;
      top: 1.2rem;
    }

    input[type='checkbox']:checked+.submenu {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }
}

@media (min-width: 768px) {
  @include menuwide;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


    &-right {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      margin-right: 1rem;
    }
  }

  .menu {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
    position: relative;
    transform: none;

    &-icon {
      display: none;
    }
  }

  .submenu {
    z-index: 101;

    a {
      border: $border;
      box-shadow: none;
      min-width: 10rem;
    }
  }
}

@media (max-width: 769px) {
  @include menucheck;

  input:checked~.menu {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    width: 50%;
    background-color: var(--white-primary);

    li {
      border: $border;
      line-height: initial;
    }
  }

  .nav-right {
    float: right;

    .darkmode {
      position: relative;
      margin-top: .2rem;
    }
  }

  .menu {
    display: none;
  }
}

.archive {
  padding: 1rem;

  h3,
  h6 {
    margin: 0;
  }

  &-year {
    box-shadow: 0 2px 2px -2px var(--line-shadow);
    padding: .25em;
  }

  &-item {
    align-items: center;
    display: flex;
    margin: .75rem 0;
  }

  &-item-date {
    margin: .5em .25em;

    span {
      background-color: var(--accent);
      color: var(--white-secondary);
      margin-right: .25em;
      padding: .5em .6em;
    }
  }
}

.index {
  @include box;
  border: $border;
  margin: 0 1rem 2rem;

  .mt {
    @include meta;
  }
}

.ctn-head {

  .page-title {
    width: 75%;
  }

  .subtitle {
    font-style: italic;
    font-weight: $normal;
    padding: 0 2rem;
  }
}

.ctn-body {
  margin-top: .3rem;
  padding: .5rem 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .lbl,
  p {
    padding: 0 1.5rem;
  }

  .lbl {
    margin: 2rem 0 1.5rem;
  }

  dl,
  ol,
  ul {
    padding-right: 1.5rem;
  }

  li p {
    padding: 0;
  }
}

.terms {
  margin-bottom: 2rem;
  padding: 0 1rem;

  &-items {
    font-size: $m;
    margin-top: 0;
    padding: .2rem;
  }

  &-title {
    box-shadow: 0 2px 2px -2px var(--line-shadow);
    padding: .3rem .3rem .5rem;

    a {
      color: var(--black-primary);
    }
  }
}

.terms-section {
  padding: 0 1rem;
}

.hide {
  display: none;
}

.footer-inner, .profile-home, .my {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  text-align: center;

  .copyright,
  .licensed,
  .powered {
    flex: 100% / 3;
  }

  &-image {
    flex: 30%;
    @include img;
    padding: 0 2rem;

    @media(max-width: 48rem) {
      width: 40%;
    }
  }

  &-bio {
    flex: 70%;
    padding-bottom: 1rem;
  }
}

@media (max-width: 48rem) {
  .footer-inner, .profile-home, .my {
    flex-direction: column;
  }
}

.info {
  padding: 1rem;

  &-date, &-lastmod, &-read, &-author, &-label {
  border: $border;
  line-height: 2rem;
  margin: 0;
  }
}