.highlight {
	position: relative;
	margin: 2em auto;
	tab-size: 4;
	-moz-tab-size: 4;
	pre {
		margin: 0px;
	}	
}

.highlight > * {
	border: $border;
	background-color: var(--highlight);
	overflow-x: auto;
    word-wrap: normal;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

pre {
	background-color: var(--highlight) !important;
	position: relative;
	padding: 1rem;
	color: var(--black-secondary);
	border: $border;
	font-size: 90%;
	overflow-x: auto;
    word-wrap: normal;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

	code {
		line-height: 1.7;
	}
}

.highlight 
.highlight td.lntd pre {
	/* needed to fix an iPhone scrolling bug */
	overflow-x: hidden;	
}

.highlight td.lntd:last-child {
	width: 100%;
}

:not(pre) > code {
	border-radius: 5px;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	font-size: 90%;
	background-color: var(--highlight);
}

.copy-code {
    display: none;
	padding: .3rem .3rem .2rem .3rem;
	border-radius: 5px;
    position: absolute;
    top: 3px;
    right: 2px;
    user-select: none;
    border: none;
	background-color: var(--white-primary);
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
    cursor: pointer;
}

.chroma .hl { background-color: var(--hover) }