.helper-label {
    display: inline-flex;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;

    &-tag {
        display: flex;
        align-items: center;
        color: var(--black-secondary);
        text-decoration: none;
        line-height: 0;
        flex-wrap: wrap;

        &:hover {
            color: var(--accent);
        }

        svg {
            height: 1rem;
            display: flex;
            align-items: center;
            width: auto;
            fill: var(--black-secondary);
            margin-right: .1rem;
        }
    }
}