%border {
    border: $border;
    padding: .3rem .6rem
}

.pagination {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0px;

    &-first, &-previous, &-next, &-last, &-item, &-item-current {
        @extend %border
    }

    &-item-current {color: var(--accent)}      
    &-item-link-current {color: var(--black-secondary)}  
}
