%border {
    border: $border;
    padding: .3rem .6rem
}

.pagination {
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
    list-style: none;
    padding-inline-start: 0px;

    &-first, &-previous, &-next, &-last, &-item, &-item-current {
        @extend %border;
    }

    &-item-current {background-color: var(--accent)}      
    &-item-link-current, &-item-link-current:hover  {color: var(--white-secondary);text-decoration: none}  
}
