%border {
    border: $border;
    padding: .3rem .6rem
}

.pagination {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: $m;

    &-first, &-previous, &-next, &-last, &-item, &-item-current {
        @extend %border
    }

    &-first a, &-previous a, &-next a, &-last a {text-decoration: none; font-size: $m}

    &-item-current {background-color: var(--accent)}      
    &-item-link-current, &-item-link-current:hover  {color: var(--white-secondary);text-decoration: none}  
}
