{{- define "title" -}}{{- .Title -}} - {{- site.Title -}}{{- end -}}
{{- define "content" -}}
<article class="post">
    <p class="helper-label">
        {{- partial "helper/category" . -}}
    </p>
    <div class="post-header">
        {{- partial "body/post/post-title" . -}}
        {{- partial "body/post/post-meta" . -}}
        {{- partial "body/post/post-subtitle" . -}}
    </div>
    {{- partial "body/post/post-content" . -}}
    <p class="helper-label">
        {{- partial "helper/tag" . -}}
    </p>
</article>
{{- end -}}