<div class="index box mg-2-0">
	{{ with resources.Get .Params.cover }}
            {{ partial "components/tes" (dict "img" . "alt" "Cover Title") }}
    {{- end -}}
	<h3><a class="index-card" href="{{- .RelPermalink | relURL -}}">{{- .Title -}}</a></h3>
	<p>
	{{- if isset .Params "description" -}}
		{{- .Description | markdownify -}}
		{{- else if .Summary -}}
		{{- .Summary | markdownify -}}
	{{- end -}}
	</p>
	<p class="cloud">
		{{- if not .Date.IsZero -}}
		<span>
			{{- .Date.Format (or site.Params.dateFormat.published "Jan 02, 2006") -}}
		</span>
		{{- end -}}
		{{- if .Params.categories -}}
			{{ range $i, $c := .Params.categories -}}
				{{- with partial "components/taxo" . -}}
		<a class="box" href="{{ .RelPermalink }}">{{- title $c -}}</a>
				{{- end -}}
			{{- end -}}
		{{- end -}}
		{{- if .Params.tags -}}
			{{ range $i, $t := .Params.tags -}}
				{{- with partial "components/taxo" . -}}
		<a class="box" href="{{ .RelPermalink }}">{{- title $t -}}</a>
				{{- end -}}
			{{- end -}}
		{{- end -}}
	</p>
</div>