    <article class="index">
        {{- partial "body/page/page-title" . -}}
        {{- if .Params.cover -}}
        {{- partial "addon/featured_image" . -}}
        {{- end -}}
        {{- if isset .Params "description" -}}
        <p class="index-desc">
            {{- .Description -}}
        </p>
        {{- else if .Summary -}}
        <p class="index-summary">
            {{- .Summary -}}
        </p>
        {{- end -}}
        <div class="index-link">
          <a class="index-link-read" href="{{- .RelPermalink | relURL -}}">Read Post</a>
        </div>
        {{- partial "body/page/page-label" . -}}
    </article>
