{{ define "main" }}


<main>
    <h1>{{ .Title }}</h1>
	  <div class="showcase">
        <ul>
        {{ range (.Paginate .Data.Pages).Pages }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
        {{ end }}
        {{ $currPermalink := .Page.RelPermalink }}
        {{ range (.GetTerms "tags") }}
          {{ $currTag := .LinkTitle }}
          {{ $taggedPages := (index .Site.Taxonomies.tags (lower $currTag)).Pages }}
        <ul>
            {{ range $taggedPages }}
              {{ if not (eq .RelPermalink $currPermalink) }}
              <li>
                <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
              </li>
              {{ end }}
            {{ end }}
        </ul>
        {{ end }}
          
        </ul>
	</div>

</main>

{{ end }}