{{- define "content" -}}
{{- $taxonomies := .Data.Plural -}}
{{- $terms := .Data.Terms.ByCount -}}
{{- $type := .Type -}}

{{- with .Page -}}
<div class="terms-section">
    <!-- "{{- .Params.Title  -}}" pulls from the front matter title parameter of the corresponding _index.md under /content/category/_index.md -->
    <h1 class="terms-section-title">
        {{- .Title -}}
    </h1>
    <!-- "{{- .Content -}}" pulls from the markdown content of the corresponding /content/category/_index.md -->
    {{- .Content -}}
</div>
{{- end -}}

<!-- All post with categories taxonomy,  -->
{{- if or (eq $taxonomies "categories") (eq $taxonomies "tags") -}}
{{- range $terms -}}
{{- $term := .Term -}}
{{- $pages := .Pages -}}
{{- with site.GetPage "taxonomy" (printf "%v/%v" $type $term) -}}
<div class="terms">
    <h2 class="terms-title">
        <a href="{{- .RelPermalink | safeHTML -}}">
            {{- .Page.Title -}}
        </a>
    </h2>
    {{- range first 10 $pages -}}
    <article class="terms-items">
        <a href="{{- .RelPermalink | safeHTML -}}" class="terms-items-title">
            <h4>{{- .Title -}}</h4>
        </a>
    </article>
    {{- end -}}
    {{- if gt (len $pages) 10 -}}
    <span class="terms-more">
        <a href="{{- .RelPermalink -}}">{{- T "more" -}}</a>
    </span>
    {{- end -}}
</div>
{{- end -}}
{{- end -}}
{{- end -}}

{{- if (eq $taxonomies "categories") -}}
{{- partial "helper/cloud-tag" . -}}{{- else -}}{{- if (eq $taxonomies "tags") -}}
{{- partial "helper/cloud-category" . -}}
{{- end -}}
{{- end -}}
{{- end -}}



