.archive {padding: 1rem;
    
    h3, h6 {margin:0}

    &-year {
        box-shadow: 0 2px 2px -2px var(--line-shadow);
        padding: 0.25em;
    }

    &-item {
        display: flex;
        margin: .75rem 0;
        align-items: center;
    }

    &-item-date {
        margin: 0.5em 0.25em;

        span {
            background-color: var(--accent);
            color: var(--white-secondary);
            padding: 0.5em 0.6em;
            margin-right: 0.25em;
        }
    }
}