%archive {
    text-decoration: none;
    color: var(--black-primary);
    padding: 1em;
}

.archive {
    @extend %archive;

    &-title {
        margin: 0;
    }

    &-year {
        box-shadow: 0 2px 2px -2px var(--line-shadow);
        padding: 0.25em;

        h2 {
            margin-bottom: 0;
        }
    }

    &-item {
        display: flex;
        margin: .75rem 0;

        &-date {
            margin: 0.5em 0.25em;

            span {
                background-color: var(--accent);
                color: var(--white-secondary);
                padding: 0.5em 0.6em;
                margin-right: 0.25em;
            }
        }

        &-title {
            display: flex;
            align-items: center;
            text-decoration: none;

            h4 {
                margin: 0;
                color: var(--black-secondary);

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}