footer {
  box-shadow: 0px 3px 3px 3px var(--black-secondary);
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  clear: both;
}

.footer-upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: var(--black-primary);
  padding: 1rem .25rem .5rem;

  .social-menu {
    flex: 50%;
    margin: 0 auto;
    padding: 0.125em;

    .social-icons {
      margin: 0 0.5em;
      color: var(--black-secondary);
      text-decoration: none;
      transition: transform 250ms;

      svg {
        width: 25px;
        height: auto;
        color: var(--black-secondary);

        &:hover {
          color: var(--accent);
          -webkit-transform: scale(1.25);
          -ms-transform: scale(1.25);
          transform: scale(1.25);
        }
      }
    }
  }

  .back-top {
    flex: 50%;
    margin: .5rem auto;
    color: var(--black-secondary)
  }
}


.footer-lower {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: var(--black-primary);
  padding: 0 .25rem 1rem;

  .copyright {
    flex: 35%;
    margin: 0 auto;
    padding: 0.125em;
    color: var(--black-secondary);

  }

  .licensed {
    flex: 30%;
    margin: 0 auto;
    padding: 0.125em;


    a {
      color: var(--black-secondary);
      text-decoration: none;
      font-weight: $bold;

      &:hover {
        color: var(--accent);
      }
    }
  }

  .powered {
    flex: 35%;
    margin: 0 auto;
    padding: 0.125em;


    a {
      color: var(--black-secondary);
      text-decoration: none;
      font-weight: $bold;

      &:hover {
        color: var(--accent);
      }
    }
  }
}


@media (max-width: 48rem) {
  .footer {

    .footer-lower,
    .footer-upper {
      flex-direction: column;
    }
  }
}