.footer-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 1rem;

  .copyright, .licensed,
  .powered {
    flex: 100% / 3
  }
}

@media (max-width: 48rem) {
  .footer-inner {
    flex-direction: column
  }
}