.index {
    border: $border;
    @include box;
    margin-bottom: 2rem;
    padding: 1rem;
    margin: 0 1rem 2rem;

    &-item {
        text-decoration: none;
        text-align: left;
        

        &-title {
            color: var(--black-primary);
            margin: 1rem 0;
            font-weight: 800;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &-meta {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;

        &-date {
            color: var(--black-secondary);
            margin: 0.25em 0;
        }

        &-link {
            &-read {
                @include hover-effect;
                padding: 0.3em 0.5em;
                border: $border;
                text-decoration: none;
                text-align: center;
                color: var(--black-secondary);
            }
        }
    }
}
