.terms {
    padding: 0 1rem;
    margin-bottom: 2rem;

    &-items {
        padding: 0.2rem;
        margin-top: 0;
        font-size: $m;

    }

    &-title {
        box-shadow: 0 2px 2px -2px var(--line-shadow);
        padding: 0.3rem 0.3rem 0.5rem;

        a {
            color: var(--black-primary)
        }
    }
}

.terms-section {padding: 0 1rem}