.index {
  @include big;
  padding: 0 1rem;

  &-card,
  &-card:hover {
    color: var(--black-primary);
    text-decoration: none;
  }
}

.archive-date {
  background-color: var(--accent);
  color: var(--white-secondary);
  padding: .5rem .6rem;
}

.entry, .e-content {
  margin: 3rem 0;
  
  .info {
    border: $border;
    display: block;
    padding: .5rem;
  }
}

.h-card {
  &-image {
    flex: 30%;
    padding: 0 2rem;
  }

  &-bio {
    flex: 70%;
  }
}