  {{ $title := .Title }}
  {{ $url := printf "%s" .Permalink }}
  {{ $body := print $title ", by " .Site.Title "\n" .Params.description "\n\n" $url "\n" }}

  <section class="social-share">
    <ul class="share-icons">
      {{- with site.Params.social.button -}}
      {{ range . }}
      {{ $link := .link }}
      <li>
        <a href='{{ $link | safeHTML }}' target="_blank" rel="noopener" aria-label="Share on{{ .Name }}" class="share-btn {{ .Name }}" title="{{ .Name }}">
            {{ $icon := .name }}
            {{ with $icon }}
            {{ partial "helper/icons" . }}
            {{ end }}
          </a>
      </li>
      {{ end }}
      {{ end }}

    </ul>
  </section>
