.content {
  padding-bottom: 2.5rem;

  svg {
	width: fit-content
	}
}

.subtitle {
	font-style: italic;
}

.nav {
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
	width: 100%;

	.logo {
		float: left;

		img {
			margin: 0;
			max-width: 100%;
		}

		a {
			color: var(--accent);
			margin: 0;
			font-size: $l;
			font-weight: $bolder;
			text-decoration: none;
		}

		svg {
			display: inline-block;
			height: 30px
		}
	}
}

.menu-icon {
	cursor: pointer;
	padding: 1rem;
	user-select: none;
}

.darkmode {
	background: none;
	border: 0;
	color: var(--black-secondary);
	cursor: pointer;
	margin-top: .25rem;
}

%icon {
	background: var(--black-secondary);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: .2s ease-out;
	width: 100%;
}

.nav-icon {
	align-items: baseline;
	background: var(--black-secondary);
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;

	&::before {
		@extend %icon;
		top: 5px;
	}

	&::after {
		@extend %icon;
		top: -5px;
	}
}

.menu-btn {
	display: none;

	&:checked~.menu {
		max-height: 100%;

		&-icon .nav-icon {
			background: transparent;
		}

		&-icon .nav-icon::before {
			top: 0;
			transform: rotate(-45deg);
		}

		&-icon .nav-icon::after {
			top: 0;
			transform: rotate(45deg);
		}
	}
}

.menu {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 1000;

	&-item {
		display: block;
		position: relative;
		padding: 0 .5rem;

		a {
			display: block;
			text-decoration: none;
		}
	}
}

input:checked~.menu {
	background-color: var(--white-primary);
	display: block;
	position: absolute;
	right: 0;
	top: 42px;

	li {
		border: $border;
		line-height: initial;
		margin: 0;
		padding: 1rem;
	}
}

.index {
	@include big;
	padding: 0 1rem;

	&-card {
		color: var(--black-primary);
		text-decoration: none;
	}
}

.archive-date {
	background-color: var(--accent);
	color: var(--white-secondary);
	padding: .5rem .6rem;
}

.entry,
.e-content {
	margin: 3rem 0;

	.info {
		border: $border;
		display: block;
		padding: .5rem;
	}
}

.h-card {
	&-image {
		flex: 30%;
		padding: 0 2rem;
	}

	&-bio {
		flex: 70%;
	}
}