.link-anchor {
  opacity: 0;
}

.anchor a {
  text-decoration: none;
}

.anchor:hover {

  .link-anchor {
opacity: 1;  }
}

.photo-container {
  margin: 2rem -1rem;

  img {
    display: block;
    height: auto;
    margin: 0;
    max-width: 100%;
  }
}

audio {
  display: block;
  margin: 2rem auto;
  text-align: center;
}

ul.gallery {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  list-style-type: none;
  margin: 2rem 0 4rem;
  padding-inline-start: 0;

  &>li {
    flex-basis: 300px;
  }

  li img {
    border-radius: 5px;
    height: auto;
    vertical-align: middle;
    width: 100%;
  }
}

%border {
  border: $border;
  padding: .3rem .6rem;
}

ul.page {
  display: flex;
  flex-wrap: wrap;
  gap: .2rem;
  justify-content: center;
  list-style: none;
  margin: .3rem 0;
  padding: 1rem;

  li.page-item {
    a {
      @extend %border;
      text-decoration: none;
    }
  }

  li.active {
    background-color: var(--accent);

    a {
      color: var(--white-secondary);
    }
  }
}

.highlight {
  -moz-tab-size: 4;
  margin: 2rem -1rem;
  position: relative;
  tab-size: 4;

  .lntd {
    pre,
    pre line {
      overflow-x: hidden;
      padding: .5rem;
      line-height: 0;
    }

    &:last-child {
      width: 100%;
    }
  }

  &:hover, pre:hover {
    .copy-code {
      cursor: pointer;
      opacity: 1;
    }
  }

  &>* {
    background-color: var(--highlight);
    overflow-x: auto;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    word-wrap: normal;
  }
}

pre {
  background-color: var(--highlight);
  color: var(--black-secondary);
  overflow-x: auto;
  padding: 1rem;
  position: relative;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  word-wrap: normal;

  code {
    font-size: 80%;
    line-height: 1.7;
  }
}

:not(pre)>code {
  background-color: var(--highlight);
  border-radius: 5px;
  font-size: 85%;
  padding: .2rem .4rem;
}

button.copy-code {
  background-color: transparent;
  border-style: none;
  font-size: 0.8em;
  opacity: 0;
  padding: .3rem .3rem .2rem;
  position: absolute;
  right: .8rem;
  top: .5rem;
}

.goat svg {
  height: auto;
  width: 70%;
}

.table-wrapper table {
  border-collapse: collapse;
  display: block;
  margin: 1rem -1rem 3rem;
  overflow-x: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  table-layout: fixed;
  word-wrap: normal;

  thead tr th {
    background-color: var(--table);
    border: $border;
    padding: .75rem;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: var(--grey-primary);
    }

    tr:nth-child(even) {
      background-color: var(--grey-secondary);
    }
  }

  td {
    border: 1px solid #ddd;
    min-width: 100px;
    padding: .75rem;
    text-align: left;
    word-wrap: break-word;
  }
}

.toc {
  border: $border;
  background-color: var(--white-secondary);
  cursor: pointer;
  margin: 1rem -1rem;
  padding: 1rem 1rem;

  ul {
    list-style-type: decimal;
  }

  ul ul {
      list-style-type: square;
  }
}