.anchor {
  color: var(--black-secondary);
  text-decoration: none;

  svg {
    opacity: .3;
  
    &:hover {
      opacity: 1; 
    }
  }
}

ul.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 2rem -1rem;

  &::after {
    content: "";
    flex-grow: 999;
  }
  
  &>li {
    height: 200px;    
    margin-top: 0;
    flex-grow: 1;

  }

  li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

img {
  border-radius: 5px;
  display: block;
  height: auto;
  text-align: center;
  width: 100%;
}

audio {
  display: block;
  margin: 2rem auto;
  text-align: center;
}

%border {
  border: $border;
  padding: .3rem .6rem;
}

ul.page {
  display: flex;
  flex-wrap: wrap;
  gap: .2rem;
  justify-content: center;
  list-style: none;
  margin: .3rem 0;
  padding: 1rem;

  li.page-item {
    a {
      @extend %border;
      text-decoration: none;
    }
  }

  li.active {
    background-color: var(--accent);

    a {
      color: var(--white-secondary);
    }
  }
}

.highlight {
  margin: 2rem -1rem;
  position: relative;

  .lntd {
    pre,
    pre line {
      overflow-x: auto;
      padding: .5rem;
      line-height: 0;
    }

    &:last-child {
      width: 100%;
    }
  }

  &:hover, pre:hover {
    .copy-code {
      cursor: pointer;
      opacity: 1;
    }
  }
}

pre {
  color: var(--black-secondary);
  overflow-x: auto;
  padding: 1rem;
  scrollbar-color: var(--grey-secondary) transparent;
  scrollbar-width: thin;
  word-wrap: normal;

  /* scrollbar on chromium */
  &::-webkit-scrollbar {
    height: .5rem;
    width: .5rem;
    background: transparent;
  }

  /* scrollbar bar color on chromium */
  &::-webkit-scrollbar-thumb {
    background: var(--grey-primary);
    -webkit-border-radius: 10px;
  }

  code {
    font-size: 85%;
    line-height: 2;
  }
}

/* for inline markdown */
:not(pre)>code {
  background-color: var(--highlight);
  border-radius: 5px;
  font-size: 85%;
  padding: .2rem .4rem;
}

/* copy-code js */
button.copy-code {
  background-color: transparent;
  border-style: none;
  font-size: 0.8em;
  opacity: 0;
  padding: .3rem .3rem .2rem;
  position: absolute;
  right: .8rem;
  top: .5rem;
}

/* style goat rendering svg */
.goat svg {
  height: auto;
  width: 70%;
}

.table-wrapper table {
  border-collapse: collapse;
  display: block;
  margin: 1rem -1rem 3rem;
  overflow-x: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  table-layout: fixed;
  word-wrap: normal;

  thead tr th {
    background-color: var(--table);
    border: $border;
    padding: .75rem;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: var(--grey-primary);
    }

    tr:nth-child(even) {
      background-color: var(--grey-secondary);
    }
  }

  td {
    border: 1px solid #ddd;
    min-width: 100px;
    padding: .75rem;
    text-align: left;
    word-wrap: break-word;
  }
}

.toc {
  border: $border;
  background-color: var(--white-secondary);
  cursor: pointer;
  margin: 1rem -1rem;
  padding: 1rem 1rem;

  ul {
    list-style-type: decimal;
  }

  ul ul {
      list-style-type: square;
  }
}