@media (max-width: 768px) {

	.footer,
	.h-card {
		flex-direction: column;
		text-align: center;
	}

	.h-card-image {
		width: 50%;
	}

	.nav-right {
		flex-direction: row-reverse;
	}

	.darkmode {
		margin-top: .25rem
	}

	.menu {
		display: none;

		&-icon {
			display: block;
		}

		&-item {
			display: block;
			position: relative;
			padding: 0 .5rem;
		}
	}

	ul.gallery {	
		li>.photo-container {
		  height: 20vh;
		}
	}

	.index .photo-container img {
		height: 250px;
	}

	.e-content .photo-container {
		width: 100%;
	}

	.goat svg {
		height: auto;
		width: 60%;
	}
}