@media (max-width: 769px) {

	.footer,
	.h-card {
		flex-direction: column;
		text-align: center;
	}

	.h-card-image {
		width: 50%;
	}

	.photo-container {
		margin: 0 -1rem;
	  }

}

@media (min-width: 768px) {
	.nav-right {
		flex-direction: row;
		justify-content: flex-end;
	}

	.menu {
		display: flex;
		gap: .5rem;
		position: relative;
		transform: none;
		z-index: 1;

		&-item {
			margin: 0;
		}

		&-icon {
			display: none;
		}
	}

	.darkmode {
		margin: 0;
	}

	ul.gallery {
		&>li {
			flex-basis: 230px;
			margin-top: 0;
		  }
		
		  &::after {
			content: "";
			flex-basis: 230px;
		  }

		  .photo-container {
			width: 100%;
		  }
	}

	.index .photo-container {
		margin: 0 -1rem;
	  }
	  
	  .e-content .photo-container {
		margin: 2rem auto;
		width: 85%;
	  }

	.goat svg {
		height: auto;
		width: 50%;
	  }
}