<div class="pd-1">
    <h3>{{- $taxonomy := .Data.Singular -}}{{- if eq $taxonomy "category" -}}{{- .Title -}}{{- else if eq $taxonomy "tag" -}}{{- .Title -}}{{- else -}}{{- .Title -}}{{- end -}}</h3>
    {{- if .Pages -}}
    {{- range (.Pages.GroupByDate "2006") -}}
    <h4 class="line-shadow">{{ .Key }}</h4>
    {{- range (.Pages.GroupByDate "January") -}}
    <h5>{{ .Key }}</h5>
    {{- range .Pages -}}
    <article class="mg-1-0 flex-center">
        <p class="mg-right mg-0"><span class="archive-date">{{- site.Params.list.dateFormat | default "02" | .Date.Format -}}</span> </p>
        <a href="{{ .RelPermalink }}" ><h6 class="mg-0">{{- .Title -}}</h6></a>
    </article>
    {{- end -}}
    {{- end -}}
    {{- end -}}
    {{- end -}}
</div>