<div class="flex-center h-card pd-1">
    {{- partial "components/display-image" . -}}
    <div class="h-card-bio mg-0-1">
        {{- with site.Params.hcard -}}
        <h3>Hi, I'm <span class="p-name" {{- if site.Params.webmention -}}rel="me"{{- end -}}>{{- .name -}}</span>
            <span class="p-family-name">{{- .family -}}</span>
        </h3>
        <p class="p-note">{{- .bio | markdownify | emojify -}}</p>
        {{- end -}}
        <div class="social">
            {{- with site.Menus.social -}}
                {{- range $k, $url := . -}}{{- if $k }}/{{ end -}}
            <a class="social-icons" {{- if site.Params.webmention -}}rel="me"{{- end -}} href='{{- .URL | safeHTML -}}' target="_blank" title="{{- .Name -}}">
                    {{- with .Name -}}
                        {{- title . -}}
                    {{- end -}}</a>
                {{- end -}}
            {{- end -}}
        </div>
            {{- if site.Params.hcard.honorificsuffix -}}<p class="p-honorific-suffix hide">{{- site.Params.hcard.honorificsuffix -}}</p>{{- end -}}
            {{- if site.Params.hcard.nick -}}<p class="p-nickname hide">{{- site.Params.hcard.nick -}}</p>{{- end -}}
        <a class="u-url hide" href="{{- site.BaseURL -}}">{{- site.Title -}}</a>
    </div>
</div>