<header class="header" id="header">
    <div class="nav">
        {{- partial "components/logo" . -}}
        <div class="nav-right">
            {{- if site.Menus.main -}}
            <input class="menu-btn" type="checkbox" id="menu-btn">
            <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
            <ul class="menu">
                {{- $currentPage := . -}}
                {{- range site.Menus.main -}}
                {{- if .Name -}}
                {{- if .HasChildren -}}
                <li class="menu-item {{- if or ($currentPage.IsMenuCurrent " main" .)
                    ($currentPage.HasMenuCurrent "main" .) -}}active{{- end -}}">
                    <a class="menu-item-link" href="{{- .URL -}}">{{- .Pre -}}<span class="menu-text">{{- .Name
                            -}}</span>{{- .Post -}}</a>
                    <label class="menu-item-dropicon" for="{{- .Name -}}"></label>
                    <input class="sub-btn" type="checkbox" id="{{- .Name -}}">
                    <ul class="submenu">
                        {{- range .Children -}}
                        <li class="menu-item{{- if or ($currentPage.IsMenuCurrent " main" .)
                            ($currentPage.HasMenuCurrent "main" .) -}}active{{- end -}}"><a class="menu-item-link"
                                href="{{- .URL -}}">{{- .Pre -}}<span class="menu-text">{{- .Name -}}</span>{{- .Post
                                -}}</a>
                        </li>
                        {{- end -}}
                    </ul>
                </li>
                {{- else -}}
                <li class="menu-item{{- if or ($currentPage.IsMenuCurrent " main" .) ($currentPage.HasMenuCurrent "main"
                    .) -}}active{{- end -}}"><a class="menu-item-link" href="{{- .URL -}}">{{- .Pre -}}<span
                            class="menu-text">{{- .Name -}}</span>{{- .Post -}}</a>
                </li>
                {{- end -}}
                {{- end -}}
                {{- end -}}
            </ul>
            {{- end -}}
            {{- if and (site.Params.enablejs) (site.Params.addon.darkmode) -}}
            <label class="darkmode" id="darkmode">
                {{- partial "components/icons" "dark" -}}
                {{- partial "components/icons" "light" -}}
            </label>
            {{- end -}}
        </div>
    </div>
</header>