<div class="header">
    <div class="header-inner">
        {{- partial "addon/logo" . -}}
        <input class="menu-btn" type="checkbox" id="menu-btn">
        <label class="menu-icon" for="menu-btn">
            <span class="nav-icon"></span>
        </label>
        {{- if .Site.Menus.main }}

        <ul class="menu">
            {{- $currentPage := . }}
            {{- range .Site.Menus.main }}
            {{- if .Name }}
            {{- if .HasChildren }}
            <li class="menu-item {{ if or ($currentPage.IsMenuCurrent " main" .)
                ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
                <a class="menu-item-link" href="{{ .URL }}">
                    {{ .Pre }}
                    <span class="menu-text">{{ .Name }}</span>
                    <label class="menu-item-dropicon" for="{{ .Name }}">
                        <span class="dropicon">ᗐ</span>
                    </label>
                    {{ .Post }}
                </a>
                <input class="sub-btn" type="checkbox" id="{{ .Name }}">
                <ul class="submenu">
                    {{ range .Children }}
                    <li class="menu-item{{ if or ($currentPage.IsMenuCurrent " main" .)
                        ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
                        <a class="menu-item-link" href="{{ .URL }}">
                            {{ .Pre }}
                            <span class="menu-text">{{ .Name }}</span>
                            {{ .Post }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{- else }}
            <li class="menu-item{{ if or ($currentPage.IsMenuCurrent " main" .) ($currentPage.HasMenuCurrent "main" .)
                }}active{{ end }}">
                <a class="menu-item-link" href="{{ .URL }}">
                    {{ .Pre }}
                    <span class="menu-text">{{ .Name }}</span>
                    {{ .Post }}
                </a>
            </li>
            {{- end }}
            {{- end }}
            {{- end }}
        </ul>

        {{ else -}}
        <div class="divider"></div>
        {{- end }}
    </div>
</div>