<article class="index">
    {{- partial "body/index/index-title" . -}}
    {{- if .Params.cover -}}
    {{- partial "addon/featured_image" . -}}
    {{- end -}}
    {{- if isset .Params "description" -}}
    <p class="index-desc">
        {{- .Description -}}
    </p>
    {{- else if .Summary -}}
    <div class="index-summary">
        {{- .Summary | markdownify -}}
    </div>
    {{- end -}}
    <div class="index-link">
        <a class="index-link-read" href="{{- .RelPermalink | absURL -}}">Read Post</a>
    </div>
    {{- partial "body/index/index-label" . -}}
</article>

