<div class="schema" itemscope itemtype="http://schema.org/BlogPosting">    
    <meta itemprop="mainEntityOfPage" content="{{- .Permalink -}}" />
    <meta itemprop="inLanguage" content="{{- site.LanguageCode -}}" />
    <h1 itemprop="headline">{{- if .Title -}}{{- .Title -}}{{- else -}}{{- site.Title -}}{{- end -}}</h1>
    <meta itemprop="name" content="{{- if .Title -}}{{- .Title -}}{{- else -}}{{- site.Title -}}{{- end -}}" />
    <meta itemprop="description" content="{{- if .Description -}}{{- .Description -}}{{- else -}}{{- if .Content -}}{{- .Content  -}}{{- else -}}{{- if site.Params.description -}}{{- site.Params.description  -}}{{- end -}}{{- end -}}{{- end -}}" />
    <meta itemprop="wordCount" content="{{- .WordCount -}}" />
    <meta itemprop="keywords" content="{{- if .IsPage -}}{{- range $index, $tag := .Params.tags -}}{{- $tag -}},{{- end -}}{{- else -}}{{- range $plural, $terms := site.Taxonomies -}}{{- range $term, $val := $terms -}}{{- printf "%s," $term -}}{{- end -}}{{- end -}}{{- end -}}" />     
    <meta itemprop="copyrightYear" content="{{- .Date.Format "2006" -}}" />
    <div itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{- site.Params.author -}}">
    </div>
    {{- if .Params.cover -}}
     <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
         <img  itemprop="url" src="{{- .Params.cover | absURL -}}" loading="lazy" alt="thumbnail">
         <meta itemprop="width" content="220" >
         <meta itemprop="height" content="220" >
    </div>
    {{- else -}}
    <!-- Default to site Logo -->
    <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
         <img  itemprop="url" src="{{- site.Params.thumbnailUrl | absURL |safeHTML -}}" loading="lazy" alt="thumbnail">
         <meta itemprop="width" content="200" >
         <meta itemprop="height" content="200" >
    </div>
    {{- end -}}
    <meta itemprop="datePublished" content="{{- .Date.Format "2006-01-02" -}}">
    <meta itemprop="dateModified" content="{{- .Date.Format "2006-01-02" -}}">
    <a itemprop="mainEntityOfPage" href="/archives">Archives</a>
    <div itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{- .Params.author -}}">
    </div>
    <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="{{- site.Params.author -}}">
      <a itemprop="url" href="/"> 
      <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject"  >
      <img itemprop="image" src="{{- site.Params.favicon.default | absURL -}}" loading="lazy" alt="thumbnail" />
      <link itemprop="url" href="{{- site.Params.favicon.default | absURL -}}" />
      </span>
      </a>
    </div>
</div>
