<article class="p-author h-entry">
    <h1 class="p-name line-shadow">{{- .Title -}}</h1>
    {{- with .Params.description -}}
    <h2 class="subtitle">{{- . -}}</h2>
    {{- end -}}
    <div class="e-content mg-2-0">
        {{- $wrappedTable := printf "<div class=\"table-wrapper\">${1}</div>" -}}
        {{- partial "components/cover" . -}}
        {{- partial "components/toc" . -}}
        {{- .Content | replaceRE "(<table>(?:.|\n)+?</table>)" $wrappedTable | safeHTML -}}
    </div>
    <p class="entry mg-2-0">
        {{- if not .Date.IsZero -}}
        <span class="info">
            Published date : <time class="dt-published" datetime="{{- .PublishDate.Format "2006-01-02T15:04:05Z0700" -}}">
                {{ .Date.Format (or site.Params.dateFormat.published "January 2, 2006") -}}</time>
        </span>
        {{- end -}}
        {{- if (and (eq .Lastmod.IsZero false) (ne .Lastmod .Date)) -}}
        <span class="info">
            Last update : <time datetime="{{- .Lastmod.Format "2006-01-02T15:04:05Z0700" -}}">{{- .Lastmod.Format "January 2, 2006" -}}</time>
        </span>
        {{- end }}
        {{- if or (.Params.tags) (.Params.categories) (.Params.series) (.Params.readtime) -}}
        <span class="info">Reading time :
            {{ $readTime := cond (gt .ReadingTime 1) "-min-" "-min-" -}}
            {{- .ReadingTime -}}{{- $readTime -}}read
        </span>
        {{- end -}}
        {{- with site.Params}}
        <span class="info">
            Posted by : <a rel="author" class="p-author h-card" href="{{ "about" | relURL }}">{{ .Author -}}</a>
        </span>
        {{- end -}}
        {{- if .Params.categories -}}
        <span class="info">
            Categories : 
            {{ range $i, $c := .Params.categories -}}{{- if gt $i 0 -}}, {{ end -}}
            {{- with partial "components/taxo" . -}}
              <a href="{{ .RelPermalink }}">{{- title $c -}}</a>
            {{- end -}}
            {{- end -}}
        </span>
        {{- end -}}
        {{- if .Params.tags -}}
        <span class="info">
            Tags : 
            {{ range $i, $t := .Params.tags -}}{{- if gt $i 0 -}}, {{ end -}}
            {{- with partial "components/taxo" . -}}
              <a href="{{ .RelPermalink }}">{{- title $t -}}</a>
                {{- end -}}
            {{- end -}}
        </span>
        {{- end -}}
        {{- with .Params.syndication -}}
        <span class="info">
        Syndication : {{ range $f, $s := . }}
        <a href="{{- $s -}}" class="u-syndication" rel="syndication">{{- title $f -}}</a>
        {{- end -}}
        </span>
        {{- end -}}
        <a class="u-url hide" href="{{ .Permalink }}">{{- .Title -}}</a>
    </p>
</article>