<meta itemprop="name" content="{{- if .Title -}}{{- .Title -}}{{- else -}}{{- if site.Title -}}{{- site.Title -}}{{- end -}}{{- end -}}">
<meta itemprop="description" content="{{- with .Description -}}{{- . -}}{{- else -}}{{- if .IsPage -}}{{- .Summary -}}{{- else -}}{{- with site.Params.description -}}{{- . -}}{{- end -}}{{- end -}}{{- end -}}">
{{- if .IsPage  -}}
{{- $tes := where site.RegularPages "Type" "in" site.Params.mainSections -}}
{{- if $tes -}}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- with .PublishDate -}}
<meta itemprop="datePublished" {{- .Format $iso8601 | printf "content=%q" | safeHTMLAttr -}}>{{- end -}}
{{- with .Lastmod -}}
<meta itemprop="dateModified" {{- .Format $iso8601 | printf "content=%q" | safeHTMLAttr -}}>{{- end -}}
<meta itemprop="wordCount" content="{{- .WordCount -}}">
{{- with $.Params.images -}}
{{- range first 6 . -}}
<meta itemprop="image" content="{{- . | absURL -}}">{{- end -}}
{{- else -}}
{{- $images := $.Resources.ByType "image" -}}
{{- $featured := $images.GetMatch "*feature*" -}}
{{- if not $featured -}}{{- $featured = $images.GetMatch "{*cover*,*thumbnail*}" -}}{{- end -}}
{{- with $featured -}}
<meta itemprop="image" content="{{- $featured.Permalink -}}">
{{- else -}}
{{- with $.Site.Params.images -}}
<meta itemprop="image" content="{{- index . 0 | absURL -}}">{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
<meta itemprop="keywords"
  content="{{- if .IsPage -}}{{- range $index, $tag := .Params.tags -}}{{- $tag -}},{{- end -}}{{- else -}}{{- range $plural, $terms := site.Taxonomies -}}{{- range $term, $val := $terms -}}{{- printf "%s," $term -}}{{- end -}}{{- end -}}{{- end -}}">
{{- end -}}
{{- if .IsHome -}}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{- site.Params.author -}}",
    "description": "{{- site.Params.description -}}",
    "url": "{{- site.BaseURL -}}",
    "thumbnailUrl": "{{- site.Params.thumbnailUrl | absURL |safeHTML -}}"
  }
</script>
{{- end -}}
{{- if .IsPage  -}}
{{ $tes := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ if $tes }}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "{{- with .Section -}}{{- . -}}{{- else -}}{{- with .Title -}}{{- . -}}{{- end -}}{{- end -}}",
    "name": "{{- .Title | safeJS -}}",
    "headline": "{{- .Title | safeJS -}}",
    "description": "{{- with .Description -}}{{- . | safeJS -}}{{- else -}}{{- with .Summary -}}{{- . -}}{{- else -}}{{- with .Content -}}{{- . -}}{{- end -}}{{- end -}}{{- end -}}",
    "inLanguage": "{{- site.LanguageCode -}}",
    "author": "{{- site.Params.author -}}",
    "creator": "{{- site.Params.author -}}",
    "accountablePerson": "{{- site.Params.author -}}",
    "copyrightHolder": "{{- site.Params.author -}}",
    "copyrightYear": "{{- .Date.Format "2006 " -}}",
    "datePublished": "{{- .Date.Format "2006 " -}}",
    "publisher": "{{- site.BaseURL -}}",
    "logo": "{{- site.Params.favicon.default | absURL -}}",
    "url": "{{- .Permalink -}}",
    "wordCount": "{{- .WordCount -}}",
    "image": "{{- if .Params.cover -}}{{- . | absURL -}}{{- else -}}{{- site.Params.thumbnailUrl | absURL |safeHTML -}}{{- end -}}",
    "keywords": [
      "{{- if .IsPage -}}{{- range $index, $tag := .Params.tags -}}{{- $tag -}},{{- end -}}{{- else -}}{{- range $plural, $terms := site.Taxonomies -}}{{- range $term, $val := $terms -}}{{- printf " %s, " $term -}}{{- end -}}{{- end -}}{{- end -}}"
    ]
  }
</script>
{{- end -}}
{{- end -}}
