@import 'colors';
@import 'fonts';

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizelegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--white-primary);
  color: var(--black-primary);
  font-family: $serif;
  line-height: 1.75;
  word-wrap: break-word;
  -moz-osx-font-smoothing: grayscale
}

.wrap {
  position: relative;
  margin: 0 auto;
  max-width: 48rem;
  min-height: 100vh;
}

header {
  background-color: var(--white-primary);
  padding: 0 1rem;
  width: 100%;
}

footer {
  bottom: 0;
  height: 2.5rem;
  margin-top: 3rem;
  position: absolute;
  width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3
}

h1 a,
h2 a,
h3 a {
  color: var(--black-primary);
  text-decoration: none
}

h1 {
  font-size: $xxl;
  margin: 3rem 0 1.5rem
}

h2 {
  font-size: $xl;
  margin: 2rem 0 1.25rem
}

h3 {
  margin: 1.75rem 0 1rem;
  font-size: $l
}

h4,
h5,
h6 {
  font-weight: $normal;
  font-size: $r;
  margin-top: 1.4rem;
  margin-bottom: 0.5rem
}

hr {
  border: none;
  border-top: 2px solid var(--grey-primary);
}

p,
dl,
ol,
ul {
  font-size: $s;
}

ol,
ul {
  padding-inline-start: 2rem;
}

li {
  margin-top: .5rem;
}

p {
  margin-bottom: 1rem;
  padding-right: 0;
  vertical-align: baseline
}

a {
  color: var(--link);

  &:hover {
    color: var(--accent);
    transition: 0.3s
  }
}

footer p {
  font-size: $xs;
  line-height: 1rem;
  margin: 0.25rem auto
}

strong,
b {
  font-weight: bolder;
}

em,
i {
  line-height: 1.4rem
}

blockquote {
  background-color: var(--grey-primary);
  border-left: 5px solid var(--table);
  color: var(--black-secondary);
  margin: auto -1rem;
  padding: 1.5rem 1.25rem;

  &::before {
    font-size: $m;
    font-weight: $bolder;
  }

  h3 {
    margin-top: 1rem
  }
}

blockquote.note {
  background-color: rgba(0, 133, 242, .1);
  border-left: 5px solid var(--note-text);

  &::before {
    content: 'ⓘ Note';
  }
}

blockquote.warning {
  background-color: rgba(199, 183, 0, .1);
  border-left: 5px solid rgb(199, 183, 0);

  &::before {
    content: 'ⓘ Warning';
  }
}

blockquote.danger {
  background-color: rgba(153, 25, 48, .1);
  border-left: 5px solid rgb(153, 25, 48);

  &::before {
    content: 'ⓘ Danger';
  }
}

blockquote.twitter-tweet {
  background-color: var(--table);
  color: var(--black-secondary);
  margin: auto -1rem;
}

blockquote footer {
  font-size: 1.1rem;
  text-align: right
}

.footnotes {
  color: var(--black-secondary);
  vertical-align: baseline;

  ol,
  ul {
    padding-inline-start: 3rem;
  }

  p {
    margin: 0.5rem 0;
  }
}

figcaption {
  clear: right;
  float: right;
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  vertical-align: baseline
}

*,
*::before,
*::after {
  box-sizing: border-box
}