.bg {
  background-color: var(--white-primary);
}

.chroma {
  background-color: var(--white-primary);

  .err {
    background-color: #a848a8;
  }

  .lnt {
    color: #7f7f7f;
    margin-right: 0.4em;
    padding: 0 .4rem;
    user-select: none;
    white-space: pre;
  }

  .ln {
    color: #7f7f7f;
    margin-right: .4rem;
    padding: 0 .4rm;
    white-space: pre;
    user-select: none;
  }

  .line {
    display: flex;
  }

  .k {
    color: #2838b0;
  }

  .kc {
    color: #444444;
    font-style: italic;
  }

  .kd {
    color: #2838b0;
    font-style: italic;
  }

  .kn {
    color: #2838b0;
  }

  .kp {
    color: #2838b0;
  }

  .kr {
    color: #2838b0;
  }

  .kt {
    color: #2838b0;
    font-style: italic;
  }

  .na {
    color: #388038;
  }

  .nb {
    color: #388038;
  }

  .bp {
    font-style: italic;
  }

  .nc {
    color: #287088;
  }

  .no {
    color: #b85820;
  }

  .nd {
    color: #287088;
  }

  .ni {
    color: #709030;
  }

  .ne {
    color: #908828;
  }

  .nf {
    color: #785840;
  }

  .fm {
    color: #b85820;
  }

  .nl {
    color: #289870;
  }

  .nn {
    color: #289870;
  }

  .nt {
    color: #2838b0;
  }

  .nv {
    color: #b04040;
  }

  .vg {
    color: #908828;
  }

  .vm {
    color: #b85820;
  }

  .s {
    color: #b83838;
  }

  .sa {
    color: #444444;
  }

  .sb {
    color: #b83838;
  }

  .sc {
    color: #a848a8;
  }

  .dl {
    color: #b85820;
  }

  .sd {
    color: #b85820;
    font-style: italic;
  }

  .s2 {
    color: #b83838;
  }

  .se {
    color: #709030;
  }

  .sh {
    color: #b83838;
  }

  .si {
    color: #b83838;
    text-decoration: underline;
  }

  .sx {
    color: #a848a8;
  }

  .sr {
    color: #a848a8;
  }

  .s1 {
    color: #b83838;
  }

  .ss {
    color: #b83838;
  }

  .m {
    color: #444444;
  }

  .mb {
    color: #444444;
  }

  .mf {
    color: #444444;
  }

  .mh {
    color: #444444;
  }

  .mi {
    color: #444444;
  }

  .mo {
    color: #444444;
  }

  .o {
    color: #666666;
  }

  .ow {
    color: #a848a8;
  }

  .p {
    color: #888888;
  }

  .c {
    color: #888888;
    font-style: italic;
  }

  .ch {
    color: #287088;
    font-style: italic;
  }

  .cm {
    color: #888888;
    font-style: italic;
  }

  .c1 {
    color: #888888;
    font-style: italic;
  }

  .cs {
    color: #888888;
    font-style: italic;
  }

  .cp {
    color: #289870;
  }

  .cpf {
    color: #289870;
  }

  .gd {
    color: #c02828;
  }

  .ge {
    font-style: italic;
  }

  .gr {
    color: #c02828;
  }

  .gh {
    color: #666666;
  }

  .gi {
    color: #388038;
  }

  .go {
    color: #666666;
  }

  .gp {
    color: #444444;
  }

  .gs {
    font-weight: bold;
  }

  .gu {
    color: #444444;
  }

  .gt {
    color: #2838b0;
  }

  .gl {
    text-decoration: underline;
  }

  .w {
    color: #a89028;
  }
}

@mixin darkchroma {
  .bg {
    color: #d8dee9;
    background-color: #2e3440;
  }

  .chroma {
    color: #d8dee9;
    background-color: #2e3440;

    .err {
      color: #bf616a;
    }

    .lnt {
      color: #6c6f74;
      margin-right: 0.4rem;
      padding: 0 .4rem;
      user-select: none;
      white-space: pre;
    }

    .ln {
      color: #6c6f74;
      margin-right: 0.4rem;
      padding: 0 .4rem;
      user-select: none;
      white-space: pre;
    }

    .line {
      display: flex;
    }

    .k {
      color: #81a1c1;
      font-weight: bold;
    }

    .kc {
      color: #81a1c1;
      font-weight: bold;
    }

    .kd {
      color: #81a1c1;
      font-weight: bold;
    }

    .kn {
      color: #81a1c1;
      font-weight: bold;
    }

    .kp {
      color: #81a1c1;
    }

    .kr {
      color: #81a1c1;
      font-weight: bold;
    }

    .kt {
      color: #81a1c1;
    }

    .na {
      color: #8fbcbb;
    }

    .nb {
      color: #81a1c1;
    }

    .nc {
      color: #8fbcbb;
    }

    .no {
      color: #8fbcbb;
    }

    .nd {
      color: #d08770;
    }

    .ni {
      color: #d08770;
    }

    .ne {
      color: #bf616a;
    }

    .nf {
      color: #88c0d0;
    }

    .nl {
      color: #8fbcbb;
    }

    .nn {
      color: #8fbcbb;
    }

    .nt {
      color: #81a1c1;
    }

    .s {
      color: #a3be8c;
    }

    .sa {
      color: #a3be8c;
    }

    .sb {
      color: #a3be8c;
    }

    .sc {
      color: #a3be8c;
    }

    .dl {
      color: #a3be8c;
    }

    .sd {
      color: #616e87;
    }

    .s2 {
      color: #a3be8c;
    }

    .se {
      color: #ebcb8b;
    }

    .sh {
      color: #a3be8c;
    }

    .si {
      color: #a3be8c;
    }

    .sx {
      color: #a3be8c;
    }

    .sr {
      color: #ebcb8b;
    }

    .s1 {
      color: #a3be8c;
    }

    .ss {
      color: #a3be8c;
    }

    .m {
      color: #b48ead;
    }

    .mb {
      color: #b48ead;
    }

    .mf {
      color: #b48ead;
    }

    .mh {
      color: #b48ead;
    }

    .mi {
      color: #b48ead;
    }

    .il {
      color: #b48ead;
    }

    .mo {
      color: #b48ead;
    }

    .o {
      color: #81a1c1;
    }

    .ow {
      color: #81a1c1;
      font-weight: bold;
    }

    .p {
      color: #eceff4;
    }

    .c {
      color: #616e87;
      font-style: italic;
    }

    .ch {
      color: #616e87;
      font-style: italic;
    }

    .cm {
      color: #616e87;
      font-style: italic;
    }

    .c1 {
      color: #616e87;
      font-style: italic;
    }

    .cs {
      color: #616e87;
      font-style: italic;
    }

    .cp {
      color: #5e81ac;
      font-style: italic;
    }

    .cpf {
      color: #5e81ac;
      font-style: italic;
    }

    .gd {
      color: #bf616a;
    }

    .ge {
      font-style: italic;
    }

    .gr {
      color: #bf616a;
    }

    .gh {
      color: #88c0d0;
      font-weight: bold;
    }

    .gi {
      color: #a3be8c;
    }

    .gp {
      color: #4c566a;
      font-weight: bold;
    }

    .gs {
      font-weight: bold;
    }

    .gu {
      color: #88c0d0;
      font-weight: bold;
    }

    .gt {
      color: #bf616a;
    }
  }
}
