$dark-primary: rgb(33, 34, 36);
$dark-secondary: rgb(57, 56, 55);
$grey-primary: rgba(246,246,246, 0.8);
$grey-secondary: rgb(237, 237, 237);
$black-primary: rgb(17, 17, 17);
$black-secondary: rgb(59, 66, 82);
$white-primary: rgb(255, 255, 248);
$white-secondary: rgb(250, 250, 242);
$note-text: rgb(24,49,84);
$link: rgb(0, 94, 174);
$dark-link: rgb(140, 180, 255);
$accent: rgb(140,28,37);
$table: rgb(210, 210, 207);
$highlight: rgb(242, 241, 241);
$darken: darken(rgb(250, 250, 242), 2%);
$darken-dark: darken(#3B4252, 5%);
$box-shadow: rgba(0, 0, 0, 0.75);
$shadow: rgba(0, 0, 0, .2);
$border: 1px solid rgb(221, 221, 221);

:root {
  --black-primary: #{$black-primary};
  --black-secondary: #{$black-secondary};
  --white-primary: #{$white-primary};
  --white-secondary: #{$white-secondary};
  --grey-primary: #{$grey-primary};
  --grey-secondary: #{$grey-secondary};
  --note-text: #{$note-text};
  --link: #{$link};
  --accent: #{$accent};
  --table: #{$table};
  --highlight: #{$highlight};
  --shadow: #{$box-shadow};
  --line-shadow: #{$shadow};
  --darken: #{$darken};
}

.dark {
  --black-primary: #{$white-secondary};
  --black-secondary: #{$white-primary};
  --white-primary: #{$dark-primary};
  --white-secondary: #{$dark-secondary};
  --grey-primary: #{$dark-secondary};
  --grey-secondary: #{$dark-secondary};
  --note-text: #{$white-primary};
  --link: #{$dark-link};
  --accent: #{$white-primary};
  --table: #{$white-primary};
  --highlight: #{$black-secondary};
  --shadow: #{$shadow};
  --line-shadow: #{$white-primary};
  --darken: #{$darken-dark};
}

body.dark .moon {
  display: none;
}

body:not(.dark) .sun {
  display: none;
}