$serif: (Palatino, URW Palladio L, serif);
$arabic: ("Geeza Pro", "Al Bayan", "DecoType Naskh", "Roboto", "Tahoma", "Times New Roman", "Arial", serif);
$xs: .833rem;
$s: 1rem;
$m: 1.125rem;
$r: 1.25rem;
$l: 1.5rem;
$xl: 1.777rem;
$xxl: 2.369rem;
$normal: 500;
$bold: 600;
$bolder: 700;