html {
    scroll-behavior: smooth;
    min-height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--white-primary);
    color: var(--black-primary);
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    font-family: $serif;
}

#content {
    display: block;
    min-height: 70vh;
    width: 100%;
    max-width: 48rem;
    margin: 0 auto !important;
    word-wrap: break-word;
}

.schema {
    display: none !important;
}

h1 {
    font-weight: $bolder;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    font-size: $xxl;
    line-height: 1;
}

h2 {
    font-weight: $bolder;
    margin-top: 3rem;
    margin-bottom: 1.25rem;
    font-size: $xl;
    line-height: 1;
}

h3 {
    font-weight: $bold;
    font-size: $l;
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1;
}

h4, h5,
h6 {
    font-size: $r;
    margin-top: 1.4rem;
    margin-bottom: 0.5rem;
}

h1 a, h2 a,
h3 a {
    text-decoration: none;
}

p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: $xl;
    display: block;
    line-height: 1;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.numeral {
    font-family: $serif;
}

section {
    padding-bottom: 1rem;
}

p,
dl,
ol,
ul {
    font-size: $m;
    line-height: 1.5;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

footer p {
    font-size: $s;
    line-height: 1.5rem;
}

strong,
b {
    font-weight: bolder;
}

em,
i {
    font-style: italic;
    line-height: 1.4rem;
}

blockquote {
    border: $border;
    background-color: var(--grey-primary);
    padding: 0 1rem;
    border-left: 4px solid var(--black-secondary);
    margin: 1rem 0;
    color: var(--black-secondary);

    h3 {
        margin-top: 1rem;
    }

    p,
    dl,
    ol,
    ul {
        font-size: $s;
        margin-top: .5rem;
    }
}

blockquote footer {
    font-size: 1.1rem;
    text-align: right;
}

.footnotes {
    margin-top: 0.3rem;
    margin-bottom: 0;
    line-height: 1.3;
    vertical-align: baseline;

    ol li p {
        font-size: $m;
        color: var(--black-secondary);
    }

    p {
        margin: .25em 0;
    }
}

.sidenote-number:after,
.sidenote:before {
    font-family: $serif;
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    font-size: 1rem;
    top: -0.5rem;
}

#blockquote .sidenote,
#blockquote .marginnote {
    text-align: left;
}

figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
}


embed, object,
video {
    max-width: 100%;
}

*, *::before,
*::after {
    box-sizing: border-box;
}

.ccpost {
    font-family: $cc;
    font-size: $xl;
    line-height: 0;
}

.arabic {
    font-family: $arabic;
    display: block;
    clear: both;
    font-size: $xl;
    line-height: 3rem;
    text-align: right;
    margin: 1rem 0;
}

.emojify {
    font-family: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Segoe UI Symbol, Android Emoji, EmojiSymbols;
}

.error {
    background-color: var(--white-primary);

    .error-head {
        background-color: var(--white-primary);
    }
}

@mixin box1 {
    box-shadow: 0px 0px 24px 0px var(--shadow);
    -webkit-box-shadow: 0px 0px 24px 0px var(--shadow);
}

@mixin menucheck {
    .menu-item input[type="checkbox"] {
        display: none;
    }

    .menu-item .menu-item-dropicon {
        font-size: $s;
        position: absolute;
        right: 3rem;
        top: 1rem;
    }

    .menu-item input[type="checkbox"]:checked+.submenu {
        border: none;
        padding-left: 2rem;
        visibility: visible;
        opacity: 1;
        display: block;
        flex-wrap: wrap;
        position: relative;
        max-width: 100%;
        height: auto;
    }
}

@mixin menuwide {
    .menu-item input[type="checkbox"] {
        display: none; 
    }

    .menu-item .menu-item-dropicon {
        font-size: $xs;
        position: absolute;
        right: -.2rem;
        top: 1.2rem;
    }

    .menu-item input[type="checkbox"]:checked+.submenu {
        visibility: visible;
        opacity: 1;
        display: block;
    }
}


