{{/* get file that matches the filename as specified as src="" in shortcode */}}
{{- $img := resources.GetMatch (printf "%s" (.Get 0)) -}}
{{- $options := .Get 1 -}}
{{- $alt := .Get 2 -}}

{{/* set image sizes, these are hardcoded for now */}}
{{- $tinyw := default "500x375 Lanczos" -}}
{{- $smallw := default "800x600 Lanczos" -}}
{{- $mediumw := default "1200x900 Lanczos" -}}
{{- $largew := default "1600x1200 Lanczos" -}}

{{/* resize the src image to the given sizes */}}
{{- .Scratch.Set "tiny" ($img.Fill $tinyw) -}}
{{- .Scratch.Set "small" ($img.Fill $smallw) -}}
{{- .Scratch.Set "medium" ($img.Fill $mediumw) -}}
{{- .Scratch.Set "large" ($img.Fill $largew) -}}

{{/* add the processed images to the scratch */}}
{{- $tiny := .Scratch.Get "tiny" -}}
{{- $small := .Scratch.Get "small" -}}
{{- $medium := .Scratch.Get "medium" -}}
{{- $large := .Scratch.Get "large" -}}

<li>
    <img class="center" width="{{$img.Width}}" height="{{$img.Height}}"
    sizes="(min-width: 1380px) 750px, (min-width: 820px) 719px, (min-width: 740px) calc(-33.33vw + 875px), (min-width: 340px) calc(92.63vw - 39px), calc(100vw - 32px)"
    srcset='{{- if ge $img.Width "500" -}}{{- with $tiny.RelPermalink -}}{{.}} 500w{{- end -}}{{- end -}}
        {{- if ge $img.Width "800" -}}{{- with $small.RelPermalink -}}, {{.}} 800w{{- end -}}{{- end -}}
        {{- if ge $img.Width "1200" -}}{{- with $medium.RelPermalink -}}, {{.}} 1200w{{- end -}}{{- end -}}
        {{- if ge $img.Width "1600" -}}{{- with $large.RelPermalink -}}, {{.}} 1600w{{- end -}}{{- end -}}' 
        src="{{- $img.RelPermalink -}}" loading="lazy" alt="{{- $alt -}}" >
</li>